test-projects/asap_first_workflow_1_debug.json
{
  "name": "asap_first_workflow_1",
  "nodes": [
    {
      "parameters": {
        "content": "FOR AVATAR DOC - GEMINI",
        "height": 352,
        "width": 704,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        368
      ],
      "id": "5b17238f-1c4a-4e89-9b76-dc51c93311ff",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "candidates[0].content.parts[0].text",
        "binaryPropertyName": "=resource",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ $now.format('yyyyMMdd')}}-{{ $now.format('HHmm') }}-Avatar Sheet.txt "
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        352,
        464
      ],
      "id": "9fedf37f-6ee5-4350-a7fb-e3ce86920958",
      "name": "Convert to File1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "inputDataFieldName": "resource",
        "name": "={{ $now.format('yyyyMMdd')}}-{{ $now.format('HHmm') }}-Avatar Sheet.txt",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/{{ $('Code').item.json.folderId }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        464
      ],
      "id": "6b556b8d-5654-4782-a7cc-cf3f97949972",
      "name": "Avatar Sheet",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vXG1sUVNpR7xQDld",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "candidates[0].content.parts[0].text",
        "binaryPropertyName": "=resource",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ $now.format('yyyyMMdd')}}-{{ $now.format('HHmm') }}-Offer Brief.txt"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        960,
        464
      ],
      "id": "5ec561b0-e3f5-44a1-9a5e-07e86765c405",
      "name": "Convert to File2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Obtenemos los datos de los nodos anteriores de forma segura.\nconst researchContent = $('Message a model Generate Research Doc').item.json.choices[0].message.content;\nconst avatarTemplate = $('Set Variables').item.json.Avatar_Sheet_Template;\n\n\n// 2. Construimos el objeto 'payload' programáticamente.\n//    Esta es la estructura exacta que la API de Gemini espera.\nconst payload = {\n  contents: [\n    {\n      parts: [\n        { text: \"Context: [\" },\n        // Convertimos el contenido complejo a un string JSON seguro aquí\n        { text: JSON.stringify(researchContent) },\n        { text: \"] Amazing work! Now that you have properly completed the research portion, I want you to please complete this Avatar sheet template: \" },\n        // La plantilla ya es un string, así que la pasamos directamente\n        { text: avatarTemplate }\n      ]\n    }\n  ]\n};\n\n// 3. Devolvemos el payload completo en un nuevo campo llamado 'geminiPayload'.\n// El siguiente nodo podrá acceder a él fácilmente.\nreturn {\n  json: {\n    geminiPayload: payload\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        464
      ],
      "id": "507b6a41-7ddc-446d-9656-bcb244abfb96",
      "name": "Parse Avatar Sheet"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Obtenemos los datos de los nodos anteriores de forma segura.\nconst researchContent = $('Message a model Generate Research Doc').item.json.choices[0].message.content;\nconst avatarTemplate = $('Set Variables').item.json.Avatar_Sheet_Template;\nconst offerBriefTemplate = $(\"Set Variables\").item.json.Offer_Brief_Template\n\n// 2. Construimos el objeto 'payload' programáticamente.\n//    Esta es la estructura exacta que la API de Gemini espera.\nconst payload = {\n  contents: [\n    {\n      parts: [\n        { text: \"Context: [\" },\n        // Convertimos el contenido complejo a un string JSON seguro aquí\n        { text: JSON.stringify(researchContent) },\n        { text: \"] Great work! Now that you've finished that, I want you to complete this offer brief document template for this product: \"\n },\n        // La plantilla ya es un string, así que la pasamos directamente\n        { text: offerBriefTemplate }\n      ]\n    }\n  ]\n};\n\n// 3. Devolvemos el payload completo en un nuevo campo llamado 'geminiPayload'.\n// El siguiente nodo podrá acceder a él fácilmente.\nreturn {\n  json: {\n    geminiPayload: payload\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        464
      ],
      "id": "c2960ccc-d402-4d4d-af33-9324b452b277",
      "name": "Parse Offer Brief"
    },
    {
      "parameters": {
        "inputDataFieldName": "resource",
        "name": "={{ $now.format('yyyyMMdd')}}-{{ $now.format('HHmm') }}-Offer Brief.txt",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/{{ $('Code').item.json.folderId }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        464
      ],
      "id": "fbc5e488-5e4f-401d-8ed0-a2fd12e7dc26",
      "name": "Offer Brief",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vXG1sUVNpR7xQDld",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "candidates[0].content.parts[0].text",
        "binaryPropertyName": "=resource",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ $now.format('yyyyMMdd')}}-{{ $now.format('HHmm') }}-Necessary Beliefs.txt"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1968,
        464
      ],
      "id": "6650490d-1509-4a41-8f7e-44edbb468826",
      "name": "Convert to File3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Obtenemos los datos de los nodos anteriores de forma segura.\nconst researchContent = $('Message a model Generate Research Doc').item.json.choices[0].message.content;\n//const avatarTemplate = $('Set Variables').item.json.Avatar_Sheet_Template;\n//const offerBriefTemplate = $(\"Set Variables\").item.json.Offer_Brief_Template\nconst necessaryBeliefs = $(\"Set Variables\").item.json.Transcript_template\n\n// 2. Construimos el objeto 'payload' programáticamente.\n//    Esta es la estructura exacta que la API de Gemini espera.\nconst payload = {\n  contents: [\n    {\n      parts: [\n        { text: \"Context: [\" },\n        // Convertimos el contenido complejo a un string JSON seguro aquí\n        { text: JSON.stringify(researchContent) },\n        { text: \"] Great work! Now, please analyze this transcript and let me know your thoughts:\"\n },\n        // La plantilla ya es un string, así que la pasamos directamente\n        { text: necessaryBeliefs }\n      ]\n    }\n  ]\n};\n\n// 3. Devolvemos el payload completo en un nuevo campo llamado 'geminiPayload'.\n// El siguiente nodo podrá acceder a él fácilmente.\nreturn {\n  json: {\n    geminiPayload: payload\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        464
      ],
      "id": "13370025-5ade-45e0-b57c-42f253a62a29",
      "name": "Parse NECESSARY BELIEFS Prompt Translate Context"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "Raw/JSON"
            },
            {
              "name": "X-goog-api-key",
              "value": "AIzaSyBxa674mIl_Ey1abWoJun-NEhgfRs9PPW0"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "Raw/JSON",
        "body": "={{ $json.geminiPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        464
      ],
      "id": "2457b353-9ec4-4496-979a-572a2763b58b",
      "name": "Avatar Sheet Post Gemini"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "Raw/JSON"
            },
            {
              "name": "X-goog-api-key",
              "value": "AIzaSyBxa674mIl_Ey1abWoJun-NEhgfRs9PPW0"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "Raw/JSON",
        "body": "={{ $json.geminiPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        464
      ],
      "id": "4e28a0c2-9a25-4641-912a-eae13de54623",
      "name": "Offer Brief Post Gemini"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "Raw/JSON"
            },
            {
              "name": "X-goog-api-key",
              "value": "AIzaSyBxa674mIl_Ey1abWoJun-NEhgfRs9PPW0"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "Raw/JSON",
        "body": "={{ $json.geminiPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        464
      ],
      "id": "e4bac7d1-d617-4054-931c-52d786ea8b51",
      "name": "Necessary Beliefs Translate Prompt Gemini"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Obtenemos los datos de los nodos anteriores de forma segura.\nconst researchContent = $('Message a model Generate Research Doc').item.json.choices[0].message.content;\n//const avatarTemplate = $('Set Variables').item.json.Avatar_Sheet_Template;\n//const offerBriefTemplate = $(\"Set Variables\").item.json.Offer_Brief_Template\nconst necessaryBeliefs = $(\"Set Variables\").item.json.Transcript_template\n\nconst contextGeminiAvatar = $('Avatar Sheet Post Gemini').item.json.candidates[0].content.parts[0].text\nconst contextGeminiOfferBrief = $('Offer Brief Post Gemini').item.json.candidates[0].content.parts[0].text\n\n// 2. Construimos el objeto 'payload' programáticamente.\n//    Esta es la estructura exacta que la API de Gemini espera.\nconst payload = {\n  contents: [\n    {\n      parts: [\n        { text: \"Context: [\" },\n        // Convertimos el contenido complejo a un string JSON seguro aquí\n        { text: JSON.stringify(researchContent) },\n        { text: JSON.stringify(contextGeminiAvatar) },\n        { text: JSON.stringify(contextGeminiOfferBrief) },\n        { text: \"] Great work! Now that you understand that marketing at his core is simply about changing the existing beliefs of a customer into the belief that align with them empowering them to purchase our product, I want you to please analyze the following documents about my prospect and write out the few absolutely necessary, beliefs that a prospect must have before purchasing my product. It should be no more than 6 beliefs. I also want you to structure these as “I believe that…” statements. Go ahead\"\n },\n        // La plantilla ya es un string, así que la pasamos directamente\n        //{ text: necessaryBeliefs }\n      ]\n    }\n  ]\n};\n\n// 3. Devolvemos el payload completo en un nuevo campo llamado 'geminiPayload'.\n// El siguiente nodo podrá acceder a él fácilmente.\nreturn {\n  json: {\n    geminiPayload: payload\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        464
      ],
      "id": "d3aa47d7-447a-4c7a-a1ba-ce2f9e1176bd",
      "name": "Parse NECESSARY BELIEFS Contexts All Avatar, Research, Offer Brief"
    },
    {
      "parameters": {
        "content": "FOR OFFER BRIEF DOC - GEMINI",
        "height": 352,
        "width": 608,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        368
      ],
      "id": "1326c2b7-8c46-4ea6-8e20-2ceb97af20d1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "FOR AVATAR DOC & OFFER BRIEF & RESEARCH DOC = FULL DOC - GEMINI",
        "height": 352,
        "width": 1376,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1248,
        368
      ],
      "id": "3708b63e-2bae-4612-b8a3-a020db09d3cb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "Raw/JSON"
            },
            {
              "name": "X-goog-api-key",
              "value": "AIzaSyBxa674mIl_Ey1abWoJun-NEhgfRs9PPW0"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "Raw/JSON",
        "body": "={{ $json.geminiPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        464
      ],
      "id": "922a4fa5-efe1-4685-b116-0acd3a373047",
      "name": "Full Doc - Research Document - Avatar Sheet - Offer Brief"
    },
    {
      "parameters": {
        "inputDataFieldName": "resource",
        "name": "={{ $now.format('yyyyMMdd')}}-{{ $now.format('HHmm') }}-Necessary Beliefs.txt",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/{{ $('Code').item.json.folderId }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2320,
        464
      ],
      "id": "68a34054-7559-4bc6-936e-8c47f3d02e41",
      "name": "Necessary Beliefs",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vXG1sUVNpR7xQDld",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "id": "4e82bff3-0766-472a-82ea-356fe813f690",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        336,
        240
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        240
      ],
      "id": "bb080365-dff4-49fb-bc67-f18eefe18dae",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rR9qA6e45qQM6hun",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Docs SOP = Inputs Data",
        "formDescription": "Welcome! You can add the data now! Lets'go!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Product Name",
              "placeholder": "Add product",
              "requiredField": true
            },
            {
              "fieldLabel": "Image Product",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".jpg, .png, .jpge, .webp",
              "requiredField": true
            },
            {
              "fieldLabel": "Website/Sales Page",
              "placeholder": "Add link for website or Sales Pages",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -16,
        80
      ],
      "id": "2d43639d-44ce-4d07-b400-fa2cdb4e38ba",
      "name": "On form submission",
      "webhookId": "129a4331-b135-4dff-aeca-81d92ad69af1"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('On form submission').item.json['Product Name'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Er5nkqdCfxYll-84cJLhdEl34PfHjufY",
          "mode": "list",
          "cachedResultName": "AI Generated Ads",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Er5nkqdCfxYll-84cJLhdEl34PfHjufY"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1920,
        224
      ],
      "id": "19b7fdd9-dbe2-4309-beeb-2e1f27cfe521",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vXG1sUVNpR7xQDld",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "Generate Research Docs - Open AI\n",
        "height": 536,
        "width": 2668
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -176
      ],
      "id": "5c193f44-8379-40ac-b833-b4b724112b8f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Find relevant data based on the provided user profile and preferences.",
        "options": {
          "systemMessage": "=\"You are my expert copywriter and you specialize in writing highly persuasive direct response style copy for my ecommerce brand that sells [Name Produc]. I want you to analyze the sales page at the following URL and please let me know your thoughts: [link del website] .\n\n===== Initial Prompt 👆🏼====\n\nUser Preferences to Consider:\n* Name Product: {{ $json['Product Name'] }}\n* Image Product: {{ $json['Image Product'].filename }}\n* Website/Sales Page: {{ $json['Website/Sales Page'] }}\n\nYour Operational Protocol:\n\n1. Sales Page Analysis Goal:\n   * Search the content of the [Website/Sales Page].\n   * Identify key conversion elements present\n   * Focus on effectiveness and persuasion quality over quantity\n\n2. Analysis Strategy:\n   * Primary Focus: Overall conversion potential assessment\n   * Secondary Analysis: Headline, value proposition, and CTA effectiveness\n   * Tertiary Analysis: Trust elements, social proof, and objection handling\n\nInformation Extraction per Element:\nFor each analyzed component, strive to find and include:\n* Element Type (headline, subheadline, body copy, etc.)\n* Current Performance Assessment (1-10 scale)\n* Specific Strengths\n* Specific Weaknesses\n* Improvement Recommendations\n* Conversion Impact Level (High/Medium/Low)\n\nResponse Formatting:\n* Present your findings in well-structured markdown\n* Use headings (e.g., ##), bullet points (*), bolding (text), and relevant emojis\n* Clearly separate analysis for each element\n\nHandling Missing Elements:\n* If critical conversion elements are missing, clearly identify gaps and recommend additions\n\nExample Structure for Analysis:\n\n---\n🎯 [Element Name] 🎯\n* 📊 Performance Score: [1-10]/10\n* 💪 Strengths: [What works well]\n* ⚠️ Weaknesses: [What needs improvement]\n* 🔧 Recommendations: [Specific improvement suggestions]\n* 📈 Impact Level: [High/Medium/Low]\n---\n\nOutput as structured analysis in JSON format as well",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        240,
        80
      ],
      "id": "e43f9b9f-70e3-442d-be4e-42e1ee3ca511",
      "name": "AI Agent - 1_first_prompt"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Research_Context_1",
              "stringValue": "Research Part 1\n\nWhy do we start with research? Well, you need to understand your market,\nyour customer, the competitor's products that are out there, other solutions,\nwhat the market likes about those solutions and what it doesn't like, the pain\npoints, really everything. You need a holistic, broad view of the landscape and\nthat's the way you're going to write the most effective copy.\n(00:30)\nWhat ends up happening a lot of the time is that writers think they know the\nmarket and maybe they do know a few things about the market so they skip on\nor skip research entirely and it's almost always detrimental to copy because\nthey're sort of guessing at what the market wants to hear. But what we can\ndo is actually, the market can tell us what they want to hear, what they want\nus to write about and all of that. We can do that in the market's own language\nbecause as you're going to see after we've reviewed these questions that\nwe're going to answer, these research questions, we'll actually go and do\nsome examples in real time and you'll be able to see that you can basically\ntake what the market is saying and then appropriate that into your sales copy,\nso you're talking to them from their language.\n(01:18)\nSo with that being said, what I'm going to do here is I'm going to run through\nthe different research questions that I like to ask and answer and we're going\nto do that on a broad level. I'm going to kind of just run through them with you\nand then from there, like I said, we'll actually go through and pick a couple of\nexamples and do those on screen so you can get a really good feel for what\nthis process looks like.\n(01:36)\nSo the first thing we're going to tackle is insights into the demographic of\nthe market that you're targeting. There are some basic questions like who's\nyour customer, what attitudes do they have, what their hopes and dreams are,\nwhat their victories and failures are, what outside forces do they believe have\nprevented their best life, what are their prejudices and then we're going to sum\nup their core beliefs about life, love and family in one to three sentences. So\nas far as who your customer is, this would be the stuff like 55 plus, primarily\nmale, middle income, living in the United States or living abroad kind of the\nbasic, broader stuff generally or housewives who are between the ages of 40\nand 65, whatever it is.\n(02:22)\nYou generally will have a feel for this before you start writing the copy. If\nyou don't, there's some analytic tools that you can use that will help to give\nyou these insights and I'll share those with you in a little bit here, but pretty\nbasic, right. As far as what attitudes do they have, religious, political, social,\neconomic; this stuff's really important because for example, if your market is\nprimarily Christian, then you should know that because the language you use\nis going to be geared towards other Christians. Or if they're Muslim or Jewish\nor whatever, it's worth knowing or noting that. If they aren't, if it's a very broad\nmarket, if you're writing to a bunch of atheists, if you're writing to a bunch of\n20-year-old biohackers who are really highly educated and listen to the Tim\nFerriss podcast, a high percentage of those people probably actually aren't\nreligious and so you have to weigh that. If you're really religious, great, but you\nmay need to weigh how you're approaching it.\n(03:20)\nPolitics, same thing. If they're all highly skewed conservative, then your\nlanguage is going to be very different than if they skew liberal. Socially, similar\nideas about the role of government and it's kind of political but also social,\nwhat they think about education, just all kinds of social beliefs and things that\nthey may have. We want to capture all of that because again, when it does\ncome time to write to our audience, we want to do it in a way that we're just\nreflecting back upon them, that we are a familiar voice to them. We want to\nbe a familiar voice; somebody who they know and trust immediately because\nwe are speaking their language.\n(03:59)\nSame thing with economic, too. If they're lower class, middle class, upper\nclass, are they retirees, are they big savers, are they big spenders, are they big\nshoppers; we want to understand their attitudes about the economy in general\nand things like that. What are their hopes and dreams? Super important because\nwe want to know what are they really looking to achieve not just as far as the\nproduct goes, but in life. Are they looking to retire at a age of 50 or 30 or 40, are\nthey hoping to live to be a 100, are they hoping to start a business and become\na billionaire or a millionaire? We want to know what their hopes and dreams\nare and we want to know about their victories and failures in life in general, but\nespecially, as it pertains to the product and their pain point, too, I should say.\nSo where have they been successful with their problems so far and where have\nthey failed and we want to find all that and capture that information.\n(04:59)\nNext, we want to look at what outside forces do they believe have prevented\ntheir best life. So for example, if they're like, \"Wall Street is rigged and that's\nwhy I can never get ahead financially\" or \"Big pharma is crooked and their\nhealthcare costs are why I'm not healthy\" or \"If I had just gone to college, I\ncould be a millionaire.\" People always, not always, but a lot of people have\nstories that they tell themselves and they tell others about why they're not\nwhere they want to be in their lives and in my opinion, it's because it's easier\nto blame somebody else than to look in the mirror to actually make really\nhard, concrete changes. So almost all of us have these narratives or stories;\nwe want to capture, the ones that your market is telling consistently.\n(05:44)\nWhat are their prejudices? So this is their attitudes, stereotypes, things like\nthat. I don't mean it in terms of race or things of that nature, but I mean it as\nfar as what prejudices do they have like, Italians are great cooks or something\nlike that. I mean, that's a silly one, but maybe. I was talking of a stylist, she's\na Latina and she was talking about how they look at, I forget what, some\nother groups, I guess influencers who dress and show up at work in yoga\noutfits and stuff like that. She was saying how, to them, that's silly and dumb\nbecause they like to dress up and look their best. So for her and her tribe,\nthat wouldn't make sense to show up in the office in yoga pants. So that's a\nprejudice because oh, these influencer, millennial people showing up in yoga\npants, they don't get it. If your market has a belief like that and you can then\nreflect that in the copy, it's another way of signaling, \"Hey, I understand. I'm\none of you. You're totally right,\" and if you can do that, you build rapport, trust\nand it's going to be a lot easier to sell to those people down the road.\n(06:59)\nFinally, we want to sum up their core beliefs about life, love and family in one\nto three sentences. So this is really where we sum up a statement of who this\nperson is. They're typically between the ages of 45 and 65, they believe that\nthe economy is rigged and the political system is broken, but that's something\nthey can live with because family is everything. They think that marriage is\nsacred and they believe that the greatest gift in the world is being a loving\nparent to children and grandchildren. Something like that maybe or something\nthat just sums up their core beliefs. We want to do that as well.\n(07:45)\nSo like I mentioned, I'm going to do a couple of examples of research and\nrecord myself doing them in real time for you and a couple of verticals. So\nwe'll cover all of these and you'll see concrete examples. I know examples are\nreally helpful, but I'd rather just run through each of the things here first and\nthen that way, I can do the research in one fell swoop instead of having it be\nmore disjointed. With that being said, let's move on to the next part of this,\nwhich is other existing solutions.\n(08:12)\nSo one of the questions we've got is what is the market already using? We\nwant to list that out. So if you're doing weight loss, then are they using other\nsupplements, they're dieting, keto, personal trainers, gym memberships,\nworkout courses online, whatever they're listing and we're going to again,\nfind out places to find these answers. We want to list these out and we want\nto know what has their experience been like with these existing solutions\nthat the market's already using. So really like, are they using them a lot, do\nthey use them a little, did they stop using them like what has their experience\nbeen like? Really, these two are almost like sub-bullets of this one because\nwe're like well, what does the market like about the existing solutions? So\nmaybe it's that it's fast and easy, maybe it's that they've gotten results, they\nhave lost weight, maybe they feel like it's something that they can do even\nthough they're elderly or they have some kind of preexisting health condition\nbut they could still lose weight using the weight loss example. Whatever it\nis, we want to capture all of that and then we also want to capture what the\nmarket dislikes about the existing solutions.\n(09:23)\nSo maybe it's hard or it's a starvation diet or the ingredients give them diarrhea.\nWhatever it is, we want to capture that as well and why do we want to capture\nthat? Well, simple because when we're going to be selling our product or\nsolution to them, we want to know if what they like about existing solutions\nis also incumbent or inherent in the solution that we are offering. We want to\npoint that out, but then we also want to differentiate. How is ours different?\nWell, unlike other solutions that have this, this, this, this, this thing that you\ndon't like, our solution doesn't have those things or \"You buy a product and it\nhas this thing that you dislike? Us, too. That's why we created our product so\nit doesn't have that solution,\" product or service. Does that make sense?\n(10:10)\nWe have to know what the market is actually thinking because the whole time\na prospect is going through the sales copy, not the whole time, but especially\nas you're sharing your product with them and that part of the copy, they're\nthinking about okay, well is this really different than this thing I've tried in the\npast? Or they're thinking about stuff that they've tried in the past that's similar\nthat didn't give them the results that they wanted or maybe got them some\nresults that they wanted, but there were side effects or things they didn't like\nabout it. So we want to be able to talk to all that and answer those objections\nwhile highlighting and strengthening our product and also, differentiating it\nfrom other solutions.\n(10:50)\nThis question is really cool, too. Are there horror stories about existing\nsolutions? The reason we want to find that out - and again, I'll show you where\nto find them, is if there are true horror stories, we can take those and use those\nin our sales copy. They make really compelling copy if you can share stories\nabout existing solutions where people used them and things went horribly\nwrong, then that will captivate and capture people get their attention. Plus\nobviously, it can really help to discredit or dissuade them from thinking that\nanother solution is better than yours.\n(11:21)\nThis is a really fundamental question: does the market believe that existing\nsolutions work? Because there's different types of customers and if they\nbelieve that there are existing solutions that work already, then you actually\nhave more work to do. It's fine, but if you're trying to sell fuel for cars and\nyou're trying to be like - because we all know gasoline doesn't work, then the\nmarket's going to be like, \"Screw you.\" Of course, it works. I put gas in my car\nevery week or every two weeks and my car runs. So you have to then work\nharder. However, if you're trying to sell something that's, I guess maybe a get\nrich, become a millionaire things. There's probably more of a jaded market\nthere where a portion of the market that believes that if I invest properly I can\nbecome a millionaire, but there's a lot of people believing no. Why? For reasons\nup above, their prejudices and what's preventing them from living their best\nlife like, \"Well, I don't make enough money,\" \"I don't have a job because I have\na college degree,\" \"I'm a bad saver, I'm bad with money,\" \"I have bad credit.\"\nAll of these things and then so that may influence them and make them think\nthat existing solutions don't work. So if that's the case and they don't believe\nthat existing solutions work, then we are going to answer that question with\nwhy. Why don't they believe it?\n(12:48)\nSo moving on, we've got two more sections of this to go through before we get\ninto doing some live, real time examples. The first one here is about curiosity. So\nwe're going to answer some questions that are curiosity related and I'll explain\nwhy. The first question is: has someone tried to solve the market's pain points\nbefore in a very unique way, and if they have, what was the result? It's really a\npair of questions and what we really want to find is if there was an attempt in\nthe past to solve the market's pain points, then we can go of this whole idea\nof what was a lost discovery that's been rediscovered or a lost solution that's\nbeen rediscovered. Or we may find stories about suppression that somebody\nhad the answer in the past, but then it got hidden or buried away or whatever it\nis. Or maybe if it's from the 1940s or 30s or whatever it is, there may be some\ncool old attempt that is unique but then has been forgotten.\n(13:58)\nPeople love the whole idea of what's old is new again, people love this idea of\nancient wisdom, that we have all the solutions. Everyone believes that they're\nliving in the most complicated and complex time of human existence and that\nthe people before them had it easier and that's been true since the beginning\nof modernity, really. Modernity? I don't know, I guess how to say that, but it's\nbeen true since the beginning, basically and maybe it is true because it is an\never increasingly complex world that we live in. But as a result of that, people\nlove to latch onto stuff of how oh, back in simpler times, things were solved\nthis way and it was really easy.\n(14:38)\nSo by going through and looking at old attempts of solving the market's pain\npoints, you can find some really cool gold. What you can also do is find just\nconspiratorial stories about old solutions as well. So for example, there was\na who killed the electric car? The idea that we actually could have had electric\ncars in the 80s or whatever it was, but GM killed it. That's a conspiratorial story.\nHealth conspiracies about how people don't want remedies getting out or\nbig pharma is really after you or in finance, the billionaires and Wall Street fat\ncats don't actually want you to succeed. I mean, there's a lot of surprising and\ninteresting conspiratorial stories throughout history and those can make for a\nreally great sales copy so that's why we're looking for this.\n(15:34)\nI already kind of mentioned this, but the idea of if there are any older attempts\nto solve the problems, pre 1960, that are unique because again, they are\ngoing to be unique, especially older ones. Generally, it's just inherently going\nto be different than what we're trying to do today to solve the problem and it\ncan make for a really interesting copy or even for interesting ways of selling\nthe product, service or solution to people. Then we want to answer for older\nattempts, what happened, were they successful but forgotten, were they a\nfailure and why?\n(16:02)\nI have two examples here that I've been using for a long time, but they're good\nones. One is the Tesla in the energy space. There's the idea that big energy,\nEdison and General Electric didn't want him sharing his energy discoveries\nwith the world and so he was discredited and shamed. He died a broken man\nand never got the love he deserved but that really, he was ahead of his time\nand so finding that, if you have a solar charger or battery and you can tie it\nback to Tesla. It's been done a lot at this point, honestly but potentially, it\ncould be a unique way of presenting your product or service.\n(16:42)\nThen the other one which is one of my favorites ever is for foot fungus, which\nI've used this example before, but it's worth me talking about because you may\nnever seen me teach before. Basically, in World War Two - this is completely\ntrue, I found a really cool report by doing research and looking for old solutions\nso doing what exactly what I'm telling you to do. I found how during World\nWar Two, for a lot of American troops who were stationed overseas in the\nSouth Pacific, athlete's foot or athlete's feet and foot fungus was a huge issue\nbecause they were in these tropical environments, they were wearing shoes\nand wool socks all day long and they were in ditches.\n(17:20)\nBasically, foot fungus was this huge issue and at any given time, it was\nsomething like 5 to 10% of our fighting forces weren't actually combat ready\nbecause of their foot fungus. People were going to the medics all the time\nand all this stuff was happening. So the surgeon general and the government\nfreaked out about this and they started looking for solutions that could help\nto end this foot fungus problem. They tested a bunch of stuff and there's\na whole great story there and basically, they finally succeeded by using the\nproduct called undecylenic acid, which is effective and clinically shown and\nFDA cleared to say that it basically cures or treats foot fungus and stuff like\nthat and it made a huge difference.\n(18:05)\nSo by finding that story, if I'm writing a foot fungus like product, like a topical\nof undecylenic acid, I can talk about the forgotten foot fungus treatment\nthat helped the US win World War Two or helped the troops win World War\nTwo. Something like that and that's a really interesting headline, hook and\nangle to take. Even though, this ingredient isn't over-the-counter, isn't stuff\nyou can buy an Amazon right now, it's how do I make that sexy? Why tell this\namazing story about how there's this race against the clock to help America\nwin World War Two and if I'm targeting 50 plus conservative men and women\nin America, they're going to love that story.\n(18:49)\nOkay, cool and then the last one here is going to be corruption, which kind of ties\nit up above in the curiosity component of the conspiratorial story and things\nlike that. But really, it's this idea, more specifically, That the market's pain\npoint used to not exist or it used to not be so bad. If there was a belief about\nthat, it's really valuable. Is there a belief that has been recently exasperated by\noutside forces and if so, what are those forces and what's the reason behind\ntheir presence? So I kind of call this the Fall from Eden type approach here,\nwhich is this idea of again, used to be a simpler time. Here's the same thing\nthat there used to be fewer problems in the world, now there's more and it's\nbecause of some outside corrupting force.\n(19:37)\nSo you have the example of obesity and diabetes because of Dr. Ancel Keys. If\nyou look at that in 1948, Eisenhower had a stroke. The public got really freaked\nout. Dr. Ancel Keys was a doctor who basically stepped into the limelight and\nsaid, \"I've got the solution. It is fats and fats are the enemy, basically.\" Because\nof him, we completely inverted the food pyramid. He promoted low fat, high,\nlots of grains, things like that. All of the food industry changed to meet what\nDr. Keys did. As a result of that, we've been actually eating this fucked up\ndiet for the last 70 plus years where if you look at the charts, diabetes has\nskyrocketed, cancer has skyrocketed, obesity has skyrocketed, heart disease\nhas skyrocketed; all these diseases have skyrocketed and it happened right\nin alignment with when we changed our diets. But because it'd be the food\nindustry, government and everyone has such a vested interest in keeping the\nfood system the way it is now, including grain and agriculture, it's very hard\nto get them to change. So the advice they're giving is not the right advice and\nreally, you should be flipping the food pyramid on its head and eating more\nfats, vegetables and things of that nature, but less carbs. So that's the whole\ncorruption angle applied to keto.\n(20:58)\nThere's always this idea of anytime you can find an isolated group of people,\na tribe in some country or whatever where they don't have a problem that we\nhave, where blood sugar doesn't exist or foot fungus doesn't exist or whatever\nit is, then you can talk about why don't they have we do and then you can tie it\nto corruption. Or there's stuff where you have all these uncontacted or people\nwho were pretty isolated up until the 60s or 70s, were all really healthy and\nin good shape, and then the West came and made contact with them. They\nstarted drinking Coca Cola and doing this and that and then they all got fat,\nsick and unhealthy.\n(21:35)\nSo those are ideas there but again, it's not just for health. I mean, you can look\nat the American dream, you can look at retirement, investing. It used to be\nthat every middle class family could have a house, own their home and have\na roof over their heads but now it's really hard. Why? Well, greedy banks, Wall\nStreet, and maybe there's some program the government passed in the 70s.\nWhatever it is, you just find that solution and find how it corrupted things.\n(22:02)\nSo that's the research document here. As far as where we find research or\nanswers to our research, it's really just two places for me more than anything.\nIt's Amazon, it's forums and then I guess, a third would be just Googling and\nI'll make sure I do all that here in the very next module.\n\n"
            },
            {
              "name": "Research_Context_2",
              "stringValue": "Research Part 2\n\nAll right. So we're gonna go ahead and do an example of the right\nnow and I took myself off camera for this because I wanted to share two\nscreens. So let's do this example for weight loss as the first one and we''ll\ndo a couple of examples, which by the time you're watching this, those will\nalready be there and you'll already know that. But I'll probably do maybe real\nestate and something for freelancers or biz-op, too.\nLet's start off with weight loss. Generally, I know it's not the greatest thing\nyou're going to hear, but you just know weight loss is primarily female, you're\nprobably targeting 30 plus females between 30 and 60, 30, 55 so I'm gonna put\nthat for now. Males between 30 and 55 years of age and generally, they've got\nat least 20 pounds to lose. I just happen to know this stuff. If you don't know\nthis, we'll talk about that in a second but you could also look at if someone\nwas going to Google weight loss market demographics. Well, basically just\ngoing to open a bunch of stuff right now and see what I can find here. I didn't\ndo a ton for me. I mean it's worth noting this whole $17 billion, the market's\nincrease, but I just want to see if there's anything about the demographics of\nwho normally does this stuff. Not yet.\nSo this isn't super surprising, but you find right here, 73% of men in the United\nStates are overweight compared to only 63% of women, but membership and\nweight loss programs are dominated by women - an estimated 90% of Weight\nWatchers members are women, a long and varied discussion and that's about\nit there. How about here I say diet trends?\nI think if you kept digging deeper here, you could find some stuff. But let me\nactually see if I can log in, I'll show you guys another hack real quick here.\nAll right, well one thing that you can use is SimilarWeb. I guess, I don't have\nmy membership to it right now and what's really annoying is for example,\nwhat I would do is I go to Weight Watchers. So I'm there, I see 33 million\nvisitors since December 19th, which is pretty interesting but it's down from\nlast month. Combination of desktop versus mobile, which is really interesting.\nMonthly visits, 11.30. Visit duration, pages per visit, bounce rate. It's actually\na pretty engaged website so to me, that's interesting and I'd probably would\nwant to go through Weight Watchers and look at this.\nOver here, I will actually show you demographics, took age distribution, gender\ndistribution, all of that. For whatever reason with stupid SimilarWeb, I have to\nrequest somebody to reach out to me and do a sales call, just sign for this. I\nthink you can sign up for free. I've never done this before, you can sign up for\nfree and get that access early on. But I have to like literally ask somebody to\ndo that so that's super annoying. There's probably other tools like that as well,\nbut that's where I would go to find this information. I'll probably try and do an\naddendum to this where I show you some additional resources, but for now,\nLet's not get too bogged down with that.\nAll right. Anyway, so what attitudes do they have? Well, I'm really start going\nto forums, weight loss forums, and all I'm doing is I'm going to take the first\ncouple of pages here that I find and I'm just going to open them up in new\ntabs. This is kind of interesting; this is a homesteading forum, but they talk\nabout weight loss. It's kind of interesting, I'm going to look at that. It may not\nbe the perfect match, but I can see there's a ton of these forums anyway.\nSo let's look at what we got here. This is weightloss.fitness.com but they show\nit really fast. I also want to make sure it's active and it is. So Weight Loss with\nHealth Conditions is kind of interesting. Newcomers. I'm opening new tabs\nhere. On Topic, Advanced Weight Loss, Diet Motivation is interesting. Weight\nLoss Diary looks great. Before and After and In-Between is really interesting.\nWeight Loss Programs is really interesting. I opened this Off Topic just to see.\nSo let's see here, the next thing I'm going to do ideally, is if I can, I don't think\nI can do it with this one, I generally want to sort by view or actually, I would\nsort by replies because I want to find the threads that are the most engaged.\nThe views are pretty good, but I'm really curious about replies from an active\nstandpoint, too. What's cool with views by the way, though, is if you're trying\nto find subject lines for email creatives, if you go to these forums you can\nbasically pull out if something has got a lot of views and most people were\nclicking on it. Basically, you could just steal some of these and do them as\nsubject lines based on how many views they have.\nSo for example, Help with Losing Weight is actually a little boring. I think it's\njust an old one and that's probably why it has so many views, but Drinking\nWater for Weight Loss, there's something you could probably do with that.\nHow to Lose Extra Baby Fat Faster, kind of an interesting one, but there's a\nlot of interesting things you can pull from that. But looking at what I'm most\ninterested in is on replies as well because that means people are engaged,\nactive and all that. So let me open this one, Help with Losing Weight. Calorie\nBurning Foods is kind of interesting. Curious about this one so I got to open\nit. I Want to Lose Some Weight is cool because there's intentionality so that's\nwhy I'm picking that one. Easy Diet for Weight Loss. PCOS is going to come\nup a lot. I'm not going to explain that right now, but yeah.\nSo look, by the way, actually this is really important part. You don't necessarily\nneed to do all of this in order so I'm going to just start pulling stuff here. So\nyou've got Kate who says, \"Drinking water is good to lose weight easily. Even\nresearch as show that by talking up to 8 glasses of water will help you burn\nfat.\" You've got to love grammar in forums and this one has also got tens\nof thousands of views but okay. Why is that important? What is the market\nalready using? Looking at their beliefs and stuff like that and it will give you\ndrinking water is a good way to lose or drinking water, I'll just put it like that.\nDrinking water. I'll probably do it here by the way, so I'll just subcategorize\nthese. So I'm going to do drinking water, I'd do it here. Drinking water, here,\nhere, so forth. That way, assuming that this will actually get read, I can find\nmore stuff here so drinking water.\nAll right. What do you like about drinking water? \"Natural resources.\" It's kind\nof interesting, \"I drink a lot of tea\" or \"I really drink anything when I'm out.\"\nGoing back to some of these questions here: what is the market, what has\nyour experience been like drinking water? Maybe hard to remember to drink\nmuch when you're out. This one's kind of interesting, \"Water makes a huge\ndifference. I've been dehydrated for most of my life, sluggish, always tired.\nMy face had little teary bumps under the skin. I forced myself to drink water. I\nwas never a huge fan. With a side of the squeeze of lemon lime or added my\nfavorite fruit to a big pitcher of water and kept it in my fridge for the week.\nAlso, bringing the bottle of water wherever you go is super important. I was\nso sidetracked before and forgot to hydrate myself. Ever since I have started\ndrinking more water, I am more energized, my skin is completely clear and I've\nlost puffiness in my face from water retention.\"\nThis one is a great one, this is what we're looking for. So here's a belief about\none of the existing solutions. Drinking water and I'm literally just copying and\npasting it as you can see here. That's great but also, \"I was so sidetracked, I\nforgot to hydrate myself.\" For that, I would probably go to if I wasn't centered\non what they dislike about the existing solution, too. \"I was so sidetracked\nbefore that I forgot to hydrate myself.\" I mean I'm okay with playing in two\ndifferent places. \"Ever since I started drinking more water, I am more energized,\nmy skin is completely clear and I have lost the puffiness in my face from\nwater retention.\" Pop that there. What do they like about the existing solution?\nPerfect.\nThis is not the smartest girl I've ever seen, but again, it's copy paste. She's\nlike, \"I love water. I think I drink too much,\" but she's like, \"I kind of figured it\nwould aid in weight loss, isn't fat expelled through urine?\" Unless I'm wrong,\nthe answer is that no, it is not. So put that there.\nThis person's saying that you need calcium so drinking just water is not a\ngood idea, which I don't know what she's talking about. Again, we don't need\nthis to be accurate. We just need to know what the market is talking about and\nit's interesting that there's this whole thread about this. Now they're arguing\nabout calcium for a while.\nAll right, so let's see here. See, this is interesting to me what Riaharaj says\nhere, \"Water is good for health. There is no connection between water and\nweight loss. In fact, too much of water consumption could lead to water\nintoxication. You can try lemon tea, lemonade, green tea. The bottom line is\nto replace the mentioned beverages for dairy beverages.\" I think what she's\nsaying is stop having as much dairy and have that stuff instead, which would\nmake sense. But the idea of water intoxication, that's actually interesting to\nme because going back to the mechanism stuff we're going to talk about,\nwhich basically the spoiler on it is that it's the root cause or the surprising\nreason why you're having trouble. It could be something built around the fact\nthat drinking too much water is actually making you feel crappy, which was\nactually an argument to be had there. You don't want to tell people not to drink\nwater because that's not healthy or safe, but it's kind of interesting. So yes, I\nlike this one. Basically, too much of water consumption could lead to water\nintoxication. So going back to the belief about what their experience has been\nlike, maybe something like that here. You fill the space there and then for me,\nI'm probably going to highlight this water intoxication thing just because I\nthink that's really interesting.\nBy the way, also just from a really empirical standpoint of who is commenting,\nI think I've seen more women than men, but there are some men as well for\nsure. But let's just read. Let's do a couple more on this water stuff because\nI don't think the big mechanism is water, but I did just want to see a little bit\nmore of this here. It's an interesting belief, \"Drink a glass of water half hour\nbefore you eat and you will usually get full on less food.\" Just pop that one in\nthere, too going back to what the market's already using. All right, so that's\ninteresting to me but let's go on. I'm actually gonna do two here. I'm going to\nunbold those drinking water. I'm going to bold this stuff so that it's a little bit\nmore clearly categorized because it's bothering me otherwise here. I'm going\nto skip some of these bullets so there's that one. Perfect.\nSo that thread added some value to me about it. Again, we've got a bit about\nwho's your customer, the attitudes and beliefs they have. Let's just bold all of\nthese so it's way easier for you to see where we're differentiated, here we go.\nSo that was just that one thread and again, this was just about drinking water\nfor weight loss so it makes sense. It was an interesting thread and they had\na lot of views and replies. I think if we go back to the page, it was like 23,000\nviews. It was actually one of the most viewed topics on this entire forum. Well,\nin this section of the forum so even that is interesting because maybe talking\nmore about water could be interesting to your demographic. Now you know\nthat from going through here and if I was going to do a weight loss product,\nmy mind wouldn't immediately go to talking about water.\nBut for now, let's move on and see what other stuffs could come up here. So this\none, Help with Losing Weight from ShadedSock, \"I need some advice. I love my\nmom and we usually have a good relationship, but when it comes to weight, she\njust doesn't understand me. I want to go to a doctor to get an average weight\nestimate for someone who is my age and height, but my mom thinks that you\ncan do everything yourself. She thinks that losing weight should be easy for\nsomeone my age, but I struggle so much.\" I'm guessing she's young, actually\nshe's 13. I'm probably going to skip this one. I mean, I'm curious about some of\nthe stuff that they're going to share. I think there probably is value in here, but\njust because they're talking to a young lady and I just think that perhaps, it's not\ngoing to be as overall relevant. I mean you'll hear a story.\nActually, I know I just said that, but I'm going to look for a second here because\nlike for instance here, \"I have been in your shoes and I still am. I have been\nstruggling with my weight for as long as I can remember. I probably was about\nyour size, if not bigger at the age of 13 but that was 10 years ago and I cannot\nremember. My mom was not supportive of my weight loss. Ironically, she is\nway overweight herself. I'll let her know my progress but she barely recognizes\nand goes on with something about herself. She's very self-absorbed. My\nadvice is to you: do not let anyone affect you during your struggle. This is\nyour own responsibility and no one will understand the struggle you are going\nto go through besides yourself. It sounds very lonely, but it's the truth. If your\nmom is not going to support you, then just ignore her. Do not let her put you\ndown at all. When it comes time that she notices your weight is gone, just say,\n\"I know, I'm proud. I did this on my own.\"\nI remember when I was just starting out to be a teen, I was a little brat. I had a\nsmart mouth and I still do when it's necessary. If this is something that people\ndo not want to support you on, it doesn't mean you cannot do it. You don't\nneed anyone to help you lose weight; it's a mindset thing. You just have to do\nit. I would definitely stop drinking anything but water.\" Interesting, different\nforum. \"Completely. It will make you feel so better. No more junk food - at all.\nIf you cheat one day, you are going to allow yourself to cheat again. For the\nstretch marks issues - I have tons. It's going to be a challenge to make them\nless visible. Most people have stretch marks on them somewhere. Even the\nskinny ones. Don't that affect you. Just keep going.\"\nAll right, perfect. So that's interesting, this idea of family not supporting them.\nSo going back to what outside forces do they believe have prevented them\nfrom living their best life? Well, basically I'm going to start off this here, \"My\nMom was not supportive.\" I'm going to copy and paste the stuff about their\nmom not being supportive. That's interesting and again, I think the water thing\nis interesting that it's mentioned again here.\nThis one's interesting, too, \"I know how you feel. I've always been overweight\nand my mother was, too. We both suffered depression and so our relationship\nwas never the best. At 16, I lost a lot of weight and my Mom said it was\nonly because I had a growth spurt. When we would go shopping together, she\nalways told me that the clothes I was looking at wouldn't fit me. Don't get\ndiscouraged. I let my mom get to me and now I'm 22 and trying to lose a lot of\nweight. You're young, enjoy yourself and if you really want to lose weight then\ndon't go on a diet. Join a Facebook group like Ditch the Diets who try to help\nyou understand the foods you eat and well, as the name says, ditch diets and\njust stay healthy instead.\" It's crazy, but it's interesting the story so maybe put\nlike, \"Mom not supportive\" as an outside force kind of thing that's preventing\nthem from living their best life.\nSo that's actually interesting that we're uncovering that in this thread because\nagain, that's a great thing to be talking about in our copy. If you can find\nsomebody to tell their story of how their mom never supported them and some\nstory about an unsupportive mother and how losing weight kind of helped\nthem, just take it. Plus, almost all women have like a weird relationship with\ntheir moms. For every one woman I met who's like, \"My Mom and I are best\nfriends,\" there's another nine who are at odds with their mom and their mom\ndrives them crazy and stuff. So it's interesting to see here. Actually, this is just\nsome stuff that they were saying, which I think is accurate about eat real food\nand all that.\nAll right, so I got some good insights there. I want to see if there's anything\nelse about moms sucking. This one's pretty interesting, \"I've been the weight I\nalways wanted to be for 15 years and in hindsight, I did everything wrong prior\nto the last 15 years. I started worrying about my weight when I was your age,\n13, and took any diet advice on board and this made everything complicated\nand I gained more weight. I always say now, \"It took me 10 years to lose 10\npounds\" because I thought weight loss had to be hard and complicated. It\ndoesn't. When I finally went back to eating three meals a day, that included\nfat to keep me full, and got busy doing the things I love to do, I lost the weight.\nIf you start restricting calories and fat intake, your body slows down its\nmetabolism like a bear hibernating and you gain, store, weight faster because\nyour body is trying to keep you alive. Eat your three balanced meals with all the\nfood groups and just make very subtle changes to your diet and you'll see that\nlittle things make a big difference and you'll discover that what you can eat\nand like to eat in a way that matches that lifestyle. You have to do things you\ncan do forever in order to find a weight you can keep forever, too. But don't do\nanything dramatic because it will shock your body. Just make small changes.\"\nIt's kind of goes on from here, but that's really interesting to me, too. I love\nthis idea of the first part of this, basically that's, \"I did everything wrong prior\nto the last 15 years. I started worrying about my weight when I was 13, took\ndiet advice on board and this made everything complicated and I gained more\nweight. I always say now, \"It took me 10 years to lose 10 pounds.\"\" I love\nthat idea \"because it made things complicated,\" so where would I put that?\nProbably under hopes and dreams, put up here and it's losing weight. That's\nway obvious so I'm going to put that one but it probably was a victory for one\nthing because she's like, \"I've been the weight I always wanted to be for 15\nyears.\" So I put that there, outside forces, no prejudices. Maybe, I guess dairy\nis bad. It's a prejudice, dairy is bad. We noticed that in the thread. For what\nhas your experience been like with other solutions and things, I put that quote\nthere as well. Oh man, it goes on.\nAll right, cool. So got some good stuff here, let's move on to the next thread.\nThis is Calorie Burning Foods. \"I'm tryin to verify something. I was told recently\nwhen we eat celery, more calories are used to consume it than are gained\nfrom it. Is that true?\" Interesting. This is kind of interesting, more about celery\nbecause someone else said, \"I agree, it doesn't matter because celery tastes\nlike ass. The only way to make celery tastes good is to put a load of peanut\nbutter on there or some type of soft cheese. Between the chewing of celery and\nthe actual TEF, thermic effect of food, from digestion, I'm sure the 5 calories\nin a small stick of celery is used, but again, you're stuck eating celery, blah.\"\nSo that's kind of interesting. Would I put that? Maybe as far as what they don't\nlike about existing solutions and maybe put eating clean. A lot of things about\ncelery there.\nI think the idea of a calorie burning food is actually interesting, the subject line\nof this one or the title of it. So where would I put that? Maybe under existing\nsolutions, something like calorie burning foods, celery because again, that\nmight be an interesting marketing hooker thing that I could apply. For that\nreason, I'm going to pop that there and then let's go on to the next one here.\nLosing Extra Baby Fat. Eh, that one is boring. I Want to Lose Some Weight,\nprobably could get a good story here. \"Hi. I want to give it a second change to\nlose weight again.\" I guess, he meant chance. \"I have a mental disorder which\nmakes going outside quite hard, so I want to do my workouts at home and do\na healthy, balanced diet. Being fit and healthy is quite important to ease my\nissues. A few months ago, I stopped doing my workouts at home because my\nenergy was so low that I was tired after 5 minutes of some exercises. I also\ndid a diet with 1,600 calories a day at the same time, so a good change that\nwas one of the reasons that my energy was low that I just stopped.\nI always wasn't the most fit kid at school, so I often was holding in my belly\nso I would look slimmer. It wasn't a very great idea after all because now\nmy stomach doesn't look like that straight anymore and my underbelly sticks\nout the rest of my stomach and I think it looks ugly and I want to get rid of it.\nAlso my hips, butt and legs could lose some fat. Also, gaining some muscle\nis important to me. I don't want to be a big bodybuilder or something, but\njust want to look and feel healthy and fit. I ain't looking for a workout plan,\nwhich is hard, difficult and provides a fast lose of weight and improvement in\nstrength. I'm looking for something which is easy to hold on and provides a\nslow but effective way of losing fat and gaining muscle.\" 19-year-old, which\nis a little bit young for our demographic probably. \"But my BMI is good, I think\nit's mostly because the balance of my muscle and fat isn't right.\nSo by the way, too I know this person said they have a mental challenge or\nwhatever, mental disorder, but I would just note like with all the typos and\nthings. Just remember this when you're typing your sales copy. It's actually\na really important note because I say this all the time, the average American\nreads and writes at a 7th grade reading level, it's really pretty bad. So when\nyou're typing about stuff like, \"Brown fat or adipose tissue, which is activated\nin your inflammatory pathways,\" they have no idea what the fuck you're talking\nabout. It's not just with health, it's with anything else. You're talking about\nmortgages, investments, annuities, liquidity or whatever you're talking about,\nyou have to really dumb it down for your market. So as you're going through\nthese forums, it's a really good reminder of that stuff.\nBut back to some of their pain points that \"I wasn't always the most fit kid\nschool holding my belly in.\" I like the idea, even this line here of how because\nthey're holding their belly in that now they think that their belly looks crooked\nbecause I've never heard that before. That could be a really great line for some\ncopy. I'm going to put that in under maybe failures, I think is where I want to\nput that. I think that's really good and then I love this where they are looking\nfor existing solutions, \"Not looking for a workout plan which is hard, difficult\nand provides a fast lose of weight and improvement in strength. Looking for\nsomething that's easy to hold on and provides a slow but effective way of\nlosing fat and gaining muscle.\" So pop that into what they're looking for with\nexisting solutions. Let's see, what's your experience been like, what is the\nmarket already using? Maybe I'm going to put it under prejudices because\nthey think that plans are hard, difficult, all that kind of stuff. A bunch of people\ntelling you what to do to, solutions, which is interesting. Okay, cool. Interesting.\nI'm going to go through a few more of these threads and then I'm going to\npause it and probably fill out the rest of this just so that you don't have to\nwatch me do all of this in real time. But I think the most important thing is\nyou're getting what I'm doing. I'm going through and I'm finding a bunch of\npeople with information and then I'm copy-pasting it. So let's go through a\ncouple more of these faster. I'll pause and fill some stuff in and then we're\ngoing to do part two where we go to Amazon.\nSo with that being said, Easy Diet for Weight Loss, \"Start your day with lemon\njuice and honey in lukewarm water, this helps your body to get rid of harmful\nacids produced by the body. Pistachio nuts are the perfect snack for the\nweight-conscious because they are high in protein, fiber and healthy fats.\nDon't be fooled by the fat label either; the fat in pistachios is unsaturated fat,\nthe brain and heart healthy type.\" Curious about what people said here. I mean\nit's from 2013 but it's funny because one of the first people is like, \"Pistachios,\nreally? One of the highest calorie things you could find? And yes, you need\nto pay attention to the fat label. Even healthy fat will make you pack on the\npounds if you have too much of it.\" It's like absolutely not true, but this was\nalso pre-keto looking at the date of this stuff so I don't know how much stuff\nI'm going to get for this here. I mean this person, too is like, \"No reason not to\neat breakfast at all,\" which is actually kind of true.\nPeople arguing about vegetarian food, vegan food, people were worried about\npistachios and calories but again, eh whatever, we'll come back to that one.\nThese are sub forums. By the way, if you have noticed I'm still on the first\nforum that I found. That's a really important point, too. Honestly, I will probably\ncheck these other things briefly. You can go down the rabbit hole forever, but\nI think just as you're going here, you sort of start to get a feel for everything\nthat's going on and what people were talking about and all of that.\nSo sort by replies again on this one. By the way, notice that some of these are\nthe replies, these are the pinned ones, probably. A Comeback from 2008, pretty\ninteresting. I do wish this forum was a little bit more recent, but there's still a\nbunch of interesting stuff here. \"I weigh 500 pounds and I am new,\" I mean,\nman, that's going to get a lot of views and replies in the day. Looking at some of\nthem with the most views. It's funny and weird that Ticker Help has such a high\namount. Lacking Motivation, Please Help; that looks great. Oh man, My Story\nin Pictures, got to click that one. I'd love to see these women now and these\npictures aren't showing anymore, but let's go through a couple more of these.\nA Comeback. \"Hi. Not new this forum, but I still have the same weight to lose\nas earlier. Lost a few pounds and regained it again. Well, but I am taking things\npositively and willing to dedicate to weight loss. All you people are a great\nhelp and always rekindle hope. Will post my developments here. Starting from\nnext week, so here I come.\" By the way, these are old ass emojis, these are the\nemojis before emojis existed. A lot of these are going to be just like, \"You can\ndo it. There's no finish line.\"\nAll right, let's just go through some of the topics and I'm not going to scroll\nthrough the rest of it because I just don't want to bore you. \"If you have a loved\none who was chronically overeating and endangering his or her well-being by\ndoing so, would you seek to have person involuntarily committed to a mental\ninstitution until they were no longer a danger to themselves?\" It's going to be\na hot topic.\nAll right. Oh, weird. I don't know what this thing is about so I'm going to skip\nthat one. This one's crazy, \"Hi, guys. I have been looking for a good weight\nloss forum. I hope this is the one I have been looking for. I'm 25 years old, live\nin Beaumont, Texas and at my biggest point, I was about 750 pounds. For the\nlast 2 years, I've been losing weight. Well, the last six months, I have really\nbeen dieting, exercising and lost over a 100 pounds. I am joining the forums\nfor support, to log my weight loss and maybe even help a few people if I can. I\nstill struggle with my weight loss, but I am in it to win it and my beautiful bride\nto be is by my side and she's a smoking hot Latina.\"\nI don't know if I really believe this one, to be honest with you, but interesting\nand worth reading, hearing stories, especially about extreme weight loss\nbecause I could look for stories in this, then potentially apply them here. So\nthat's an interesting one. I think I'm going to actually stop here, but I think you\nget the point of where I want to go through and find stuff. I mean as far as\nhopes and dreams, I mean really I guess, you could talk about the 500 pound\nperson being one of their hopes and dreams is, \"I'm in it to win it,\" and all that.\nBut I'm going to go through and find stuff and fill it out a little bit and then I'll\ncome back and show you what I've got going on.\nSo I'm actually back because this is why we forum, in my opinion. It's from\nMarch, 2008 but basically this woman who is probably, just from this blurry\npicture, part of our demo. I just want to go through with you. \"It's been a week\nsince I became a member. So far so good. I did not lose anything this week,\nbut it's not bothering me. I wrote a letter to myself last week and I keep it on\nmy desktop. I thought it would be a good journal entry so I'm going to attempt\nto copy and paste it here.\nFebruary 25th, 2008. Onto today's date, my measurements are arm size, waist,\ncalves, bust, hips.\" So she has her measurements, but then this part. \"Today\nis the day! I've been wanting to change for a few years now. I have been\nsuccessful in the past with an exercise program. I felt great and was starting\nto see the results in my size. The first attempt, I was a 14 and made it down to\na 12. But something always happens and I give up. I do not really understand\nbecause I was getting great joy from my success.\nOne of the biggest problems for me is I really have to work hard at my weight.\nWe have in the past spent a lot of time with friends that do not have to worry\nabout their eating habits. The nights would be fun of fried food and drinks.\nI would have to be the different one and bring my own food or given and eat\nwhat everyone else could eat. It always made me very angry and depressed\nthat once again, Tina was the different one. This is something I have had to\ndeal with my whole life. I have struggled my whole life to feel normal. I have\nalways struggled with school and weight problems. I always wanted to be like\nmy sister who all things seem to come easily to her. I admire everything she\nstands for and is able to accomplish. She, too struggled with her weight as\na young girl. She is a lot different from me and is was very determined and\ndedicated to a healthy mind and body.\nBut today is the day I leave all of this behind. I can make excuses all I want.\nI can be very stubborn and headstrong and today, I will direct the part of my\npersonality to myself.\" Yeah, I don't know what that means, but \"I need to do\nthis for me and only me. I need to prove to myself that I am strong and will be\nable to accomplish anything. I want my husband to look at me with pride and\nsay, \"This is my wife and look how great she looks.\" Okay, that won't happen,\nbut he will be very proud of me. He has always supported me in all my goals.\nThat is when I actually set them. I don't want to keep letting him down with\nfailure. He does not care what I look like, I don't believe. It is really hard to\nkeep failing. I want to prove to him that I can do this, that I am strong enough.\nLosing weight is a total lifestyle change in mind and actions. So today, I start\nwith my mind. I want to set a goal of positive thoughts and actions. I am going\nto get signed up in some kind of program that will help keep me motivated. I\nwant to check out online support systems and I want to sign up at the Holiday\nInn. So those are the two goals I can accomplish today.\"\nLet's see if she has anything else here. \"As you can see at the top of the page\nis the list of my current inches. It makes me very sad to see them, but it makes\nthis journey that more real. The numbers themselves scream for change and I\nowe myself that much. I can say I want to be a size 10 because that is what I\nwas 7 years ago, but I do not know with my age if that is possible. I surely hope\nthat it is, but do not want to set a goal and I will only fail at. I am sick of failing. I\nwant to be healthy and a smaller, fitter size than what I am right now. I will keep\ngoing until it stops coming off, the weight, and be happy with that number.\nWho knows I maybe able to achieve an 8? I don't know if I was ever an 8.\"\nSo basically, this is your demographic and in fact, she's talking about her age\nand I'm guessing she's in her, I don't know, 40s. Your demographic, if you were\ndoing this weight loss offer, just basically broke down their entire psyche for\nyou. A lot of it, too like the failure, the frustration, the stuff about like having\na sister who lost weight but they couldn't, having the friends who can eat\nwhatever they want, feeling weird when they go to their friend's houses who\neat fried food and they have to bring their own stuff, the goal of going from a\n12 to a 10, maybe an 8, doing it for themselves, the stuff about her husband,\nhow she wants her husband look at her and be proud of her.\nNotice that it's not about being sexy. I think when men write weight loss offers\na lot, it's like, \"Oh, my husband thought I was sexy again and now we can't stay\nout of the bedroom.\" Sure, that's great, but even with this woman, she's not\ntalking about having sex with her husband. She wants his admiration, respect\nand want him to be proud. So you just see all this stuff here and that's all go into\nthis research. What are their hopes and dreams? It's a bunch of this shit. What\nare their victories and failures? Well, not a ton of victories here, but the failure is\nfailing going from 12 to 10 and then back. I mean, tons of stuff there. You can\nwrite out married sister, stuff like that. Just one little thing like this is awesome.\nBy the way, I think she keeps updating it here. She does so I'm going to read\nthrough this. I'm going to pause it. But man, you can hear I'm talking faster\nand I'm a little more excited because I just love this stuff with research. It gets\nme really, really amped.\nAnother thing here, I'm going through it now and I'm copying and pasting in\nstuff. So for example, in failures, this woman and how she went from a 14 to a\n12, but something always happens and then these problems of how she gets\nangry and depressed. Things like that, but then up here, I'm doing the hopes\nand dreams and the whole part about \"I want my husband to look at me with\npride and say, \"This is my wife and look how great she looks.\"\"\nSo that versus what did I write originally for hopes and dreams, I put losing\nweight and that's what a lot of people do when they're writing a copy and\nthey don't do research. Yes, people want to lose weight, look good for their\nhusband, look out for themselves, whatever it is. They just sort of guess or\nthey're like, \"Oh, I'll figure out what I'm writing,\" and then they don't. I did it with\nlosing weight, but what's better losing weight or \"I want my husband to look at\nme with pride and say, \"This is my wife and look how great she looks.\" Okay,\nthat won't happen but he'll be very proud of me. He has always supported me\nin all of my goals. That is when I actually set them. I don't want to keep letting\nhim down with failure. He does not care what I look like, I don't believe. It is\nreally hard to keep feeling. I want to prove to him that I can do this, that I'm\nstrong enough\"?\nThat's a lot better of a hope and dream than losing weight or losing two dress\nsizes or all that crap. So again, why research is so important. I'm pausing it for\na second. Basically, I'm on page two. So this sweet woman has been sharing\nso much of her stuff and if you look at the failures tab now, all this other stuff.\nEach one of these is a different kind of a part and you look at the victories\ntab. I filled out a few other places, but it's mostly been her just really trying to\nbe positive, trying to be positive. But then I get to the first post of the second\npage titled Frustrated. \"I wish I could start the last 4 days all over again. I was\nthinking my actions this weekend would not be all that bad. Boy, I was wrong.\nIt is taking a lot for me to write this, but I need to hold myself accountable.\" I'm\nlike oh man, you want to talk about failures? We're about to go deep on some\nfailures and this girl is writing the sales letter for me. I mean she's writing for\nherself, but I would steal it in this case.\nSo I'm going to go through this and then I think we can do it together. Why\nnot? \"I was so sure this weekend was going to be a good one. Well, I went to\nwork and did fine with my eating. I got out of work and back home and 8:30\nPM and my husband says he would like to take me out to eat. My first thought\nwas great, I don't want to cook and in the back of my mind, I was saying, \"You\nfool, look what time it is.\" So we went and I had two glasses of wine and we\ndecided to share a couple of apps. So we got a spicy mussel dish, it was\nmade of heavy cream and they give us toasted dipping bread for all of the\nsauce. With every bite, I knew I was messing up big time.\" I love that line, \"With\nevery bite, I knew I was messing up big time.\" That could be like the start of a\nsales letter about not knowing what to eat or some kind of meal plan thing or\nsomething. Ah, perfect.\n\"So after that, I chose to order a steamed dumpling dish made with pork,\nginger and it had a soy dipping sauce with that. I felt really good about those,\nthey were the better of all the choices on the menu. Oh, don't let me forget to\ntell you all the snacks they had out that I could not stay out of. And then on\nthe way out, my husband ordered a grilled Penni to go. Somebody Just shoot\nme. So my husband's suggested we swing to a local bar for a nightcap. Well,\nthat was three beers later.\nSunday, we got up and shared the Penni; we can eat anything in the morning. I\njust could not keep the bad choices to one day so I had to continue on into the\nnext. We did go for a long hike and I really felt better about the bad mistakes.\nBut last night, I did not control my portions.\nI cannot tell you how angry at myself I am. Where is my willpower? I now have\nto live with the scale and my decisions. I really need to get it together. For\nthe last two weeks, the scale has not moved and now it did, but in the wrong\ndirection. I am today going to do more research on eating well. I feel that I am\nnot eating enough during the day and when I eat supper, I overeat. And that\nwas the way of the old Tina. I get so mad when I fail. I hope this week I can\nstay on track.\"\nSo I'm going to pull some of that stuff into here. I mean, let's see here. I want\nto put this stuff about the apps and the bread, \"With every bite, I knew I was\nmessing up big time.\" I'm going to put that under failures. What else am I\ngoing to do? The stuff about she couldn't keep her bad choices to just one\nday. This, \"I can't tell you how angry I am. Where is my willpower? I have to live\nwith the scale and my decisions.\" Perfect. I mean sucks for Tina, but perfect\nfor what we're doing. Oh yeah, this line right here. I want to highlight that line,\nI really liked it. \"With every bite, I knew I was messing up big time.\" Perfect.\nNow I'm going to go back and dig through. God, Tina is the best. Here's the\nnext one, \"This week's post is so full excitement. I finally see a change in my\nscale. I lost two pounds this week. I cannot tell you how happy that makes\nme. I really have been good about getting my exercise in. I walked or jogged 5\ndays this week. The weather's gotten really nice,\" blah, blah, blah. So that's a\nvictory so it's going into victories.\nThat's where we're going to spend most of our time. Well, that and some of\nthe product stuff, too actually. But let me pop that in here. Perfect. Then this is\nkind of cool, she did some mountain stuff, \"I really want to get in better shape\nfor my sister visits this summer. She wants to go for a hike in our beautiful\nAcadia Park. My sister is very fit and I want to show that I can do this. It may\nnot be so easy for her, she is from Florida and runs on flat ground. In Maine,\nthere is really nothing flat about the area I live in.\" So put that as back to the\nhopes and dreams, getting fit for her sister.\nI felt bad, too because I think this poor woman, if this was 2018 and she\nknew about keto, she'd probably be killing it right now. But it's 2008 so she's\nlike, \"I'm so proud I didn't eat. I ate a smaller piece of steak.\" It's like she's\njust doing all of this stuff which is not actually probably the best way to lose\nweight, but alas, that's the case. All right, let's see if there's anything else.\nSo I got through Tina's last thread, by the way. It's basically, she's feeling shitty\nand she's starting over again and then it just ends. So that's heartbreaking.\nBut anyway, I think we can probably wrap up a lot of this weight loss. I want to\nget to the next part, but I think you get the point here. You guys can go through\nthis and you can see like how oh my God, there's just so much good stuff. I\nmean, so then I think the challenge becomes how do you limit it to not too\nmuch time once you've got enough stuff here? Honestly, for me, if I was really\nwriting a sales letter right now, I'd probably take what Tina was doing and I'd\nprobably have some ideas. I mean I'd spent another, I don't know, half an hour,\nhour after that going through some of these additional threads. There's just\nso many good things and I'd probably go faster and just copy-pasting stuff in\nand then that would probably be it. Because once I find a really good thread\nlike that, so much of the copy is good. God, there's so much good stuff here,\nit's almost like a spoil of riches, but I don't think we did an overkill. So again, I\nthink if I had this filled out with enough stuff and my wheels are really turning,\nthen I'm probably in a good place to stop at that point.\nAll right. So hey there, we're back. So again, this is for showing an example of\nhow I'm doing my research and we're going through a weight loss one so far.\nSo you can see we're going through the whole thread of Tina, all that stuff and\nher journey as well as some other people's journey.\nWe didn't really go too deep into existing solutions; there was a little bit of\nthat stuff. I mean, I could probably just put reasonably some of the other\nstuff here like portion control they're using that; exercise, walking, hiking,\nrunning; watching calories, just portion control, stuff like that. But here in the\nsame thread - I want to get to Amazon, honestly. I mean, so we can just put\nsupplements especially if we're doing a weight loss supplement. We do want\nto hit that and then let's do courses, programs.\nWell, if I'm in here, let's go to again and let's do the same filter of by replies.\nActually, I wonder because one thing you'll notice is the other bunch of this\nstuff that is more recent. I'm interested in that protein sparing modified fast;\nI've never even heard of this so I'm curious what this is. \"First developed in\nthe 1970s.\" I'm just going to open this so I remember it but when you get\nto the mechanism stuff, which I'm going to talk about after this research\nmodule. Water Diet. I just think now we're saying well, what they're trying,\nprobably people would be discussing what they liked and didn't like about\nthese solutions. So let's go by replies to start.\nI mean, Weight Watchers, weight loss pills. See, these are so old. That's my\nonly challenge with this. I might, for this one, actually go by last message.\nThat one's pinned. Some of these had like one reply, though. I still want to find\nthings that have more replies. Curious of this Navy Diet. Weight Watchers, by\nthe way, is still an ongoing thing. Let's see here.\nAll right, let's do this. Let's go back to doing it by replies but then I'm going to\nlook for more recent ones. I mean Weight Watchers is crazy how many people\nwere talking about that. I want to find more recent stuff here, if I can. There's\nprobably so much gold I'm not even seeing, but I want to find more recent\nstuff. I know I keep repeating myself but.\nInteresting. This is like a little bit of a pain because again, this form is so\nold. It's like I really want replies, but I really want recent stuff. I keep saying\nthat because I'm trying to will it to happen. The reason I want recent stuff is\nbecause I don't necessarily want to see a bunch of what people were trying\nto do in 2008, 2010, 2011; I want to find out what they're doing now. So I hate\nto be annoying, but I'm just being real. I'm doing this in real time. I want to go\nback to last message. Let's do it that way.\nLet's see we got here, a couple of interesting ones. I was just curious about this\nprotein sparing modified fast because I've never heard it before, \"Regarded by\nmany the most effective way to lose body fat while preserving muscle and\navoiding rebound binge-eating due to nutrient deficiencies. First developed in\nthe 1970s, the PSMF has seen various permutations in weight loss clinics and\nthe bodybuilding community.\" It's generally \"defined as a diet with adequate\nprotein, while simultaneously limiting energy from carbohydrates and fat.\nNothing really magical about it,\" just pay \"attention to protein in an energy\ndeficit\" and it has a whole breakdown of some of the stuff of it. That was\ninteresting. I want to see if that was a potential mechanism for later on, but\nnot really.\nPeople ask him about recommended weight loss programs. So basically one\nthing you're going to find here is going back to what existing solutions work,\npeople are all going to be listing out what they're doing and stuff like that and\nthen you'll probably have people talking about how I did this and I liked it, I\ndid this and I didn't like it. Detoxes and cleanses. Basically, I would just go\nthrough and take all of this stuff and just pop that into the existing solutions\ncomponent. Makes sense? Cool. So I'm going to pause.\nHey, one other interesting thing for you guys as I'm going through this stuff,\ntoo and by the way, you'll notice that I'm filling out more stuff I found about\nWeight Watchers and listing for them. A little bit about the detoxes and\ncleanses, which I put in here. Have a little bit about Weight Watchers here as\nwell, but let's just call a spade a spade here.\nThis is 2011 and this woman is talking about doing a high protein, low carb\ndiet and basically, it's not working for her and then this woman comes in and\nis like, \"If your diet is severely calorie restrictive, for instance, 900 to 1200\ncalories, then you're trying to get into a fat-burning state or ketosis. This will\nwork for rapid weight loss, but remember that takes about 3 days to get into\nthat state and one cheat will bring you right out.\" But my quick point here is\njust, they're talking about keto in this forum in 2011. Keto did not go popular\nin the mainstream until 2018, I think something like 2016 or 2017.\nI'm not saying hey, if you're writing a health bro or broette and you're watching\nthis, maybe you knew about keto, but keto did not get really big for another 6\nyears. So that's just another reason why going to these forums is still viable.\nThis is an older one but you can find new threads on stuff, you can identify new\ntrends years before they were popular. Imagine if you were the first person\nto jump on keto and you were in the health industry; just another reason why\nresearch is so important.\nAnother thing for you to check out. I'm going to check out some of these other\nforums before I hit Amazon. Do that part for you. There's the City-Data one,\nwhich is interesting that it's a little bit older for a lot of these posts but like\nWheat Belly, Why the Fear of Carbs, Should My Husband Love Me the Way I\nAm, Fat Acceptance, Intermittent Fasting - Fact or Horseshit, Atkins Reboot\n\nNow Time Magazine is On Board. People were talking about paleo around\nhere because again, paleo came before keto. Why Fat Shaming is Good for\nHealth. I mean, there's so much stuff going back to the core story. So I'm\ngoing to go through this, but we'll circle back on that in a minute.\nThe point I was gonna make actually is beyond that one, this 3 Fat Chicks\nwebsite, which is amazing by the way. It's actually super active and a source of\nweight loss support, but there'd be subgroups of 20-something 30-something,\n40-something age 50 plus. So it's like you want to talk about getting specific\nto your demo, like 40-something, sort by replies: BFF's Getting Healthy, 47 and\nNo Idea. I mean there's just so much good stuff here. So you can just dig in\nand then if you're targeting 30-somethings, do that or 20-somethings, do that.\nI mean, man, it's like I'm beating a dead horse here, but I hope you guys can\nunderstand why this is so valuable.\nOkay, what we're looking at now - and I just keep saying okay a lot because\nI'm pausing so you don't have to watch me in dead time. But what we're going\nto look at now is some of these existing solutions and what the market likes\nand doesn't like. We can get a lot of that from the forums, honestly but I would\nalso go to Amazon and look at products and we'll go and we'll organize that\nby 5-star and 1-star reviews.\nSo for example, let's pick a couple. I mean, supplements sure. So let's try\nweight loss supplements because we haven't really talked about supplements\nthat much. Weight loss pill is great. I know Alli is pretty popular so I'm going to\nopen that. What I'm going to look for here, by the way is the reviews, but also\nthe number of reviews. I want stuff with more reviews, generally. This one has\ngot a ton of reviews. This one's more for men and I'm just going to assume\nwe're going more for women and so, that's why I'm not going to mess with\nthat one too much here right now.\nColon cleanse is interesting. I've seen these guys in the past. I really like the\nbranding for these dudes but that's probably a fine start. Interesting that apple\ncider vinegar keeps showing up as a side note here because people got off\napple cider vinegar but still very popular on Amazon.\nSo let's look at Alli, \"FDA approved weight loss pill that helps block about 25%\nof the fat you eat from being absorbed.\" Interesting. I've seen Alli a bunch, I\nactually didn't really know what it was, but let's go to their ratings and reviews\nand then what I like about it. I'm going to go to the 5-star reviews first and\nthen we'll go to the 1-star reviews.\nSo this one immediately, for this Alli one is that this guy didn't believe his wife\nthat it worked, took a bunch of it while following his diet and then his stomach\nstarted grueling and he shat on the chair in the living room and had to clean\nthe chair and shower. Even this is a 5-star review, I'd probably be putting this\nunder weight loss pills. I'm actually surprised to see this whole part of it.\nThat's amazing.\nOh, Alli, is that what it's supposed to be? I don't know. But even if you were\ntelling these stories, \"I'm a compulsive, emotional eater. I have tried many\ndifferent diets and gimmicks, too many to list. I have lost and regained the\nsame 100 pounds over the past 40 years.\" It's like whoops, okay. Boom,\nthat's great. Where are we going to put that? Probably up here because this is\nprobably pretty indicative of who our customer is. But anyway, let's see. \"The\nfirst week, I lost 4.5 pounds. Down 3.\" Pretty interesting here.\nGoing back to the weight loss pills, which are down here. Interesting. So I\nthink you get the point here. What else are they talking about? \"Never trust a\nfart.\" It's really interesting that people are saying they took this thing and then\nhad terrible, disgusting farts and poops but it works because they're farting\nand pooping, which is kind of weird. I mean, whatever.\nI would go through this one. Same thing with this one, which is a ketones one.\nI'm actually less interested in that, but this one I like because of the ratings\nand go to the 5-star reviews, 1-star reviews all the stories and then I would just\nbe plugging all of that into here as well. I mean, as far as horror stories go like\ntaking a weight loss pill and then shitting yourself would be one. There's a ton of\nother ones so I'd probably get them from the forums over here, but as you can\nsee as you go through, you'll find them. I would just be copy-pasting all of these\npeople's stories, lost 6 pounds, blah, blah blah. Perfect. So again, you can just go\nthrough all these stories here. That's how you add that to this part here.\nThis is back on the City-Data forum which are actually great. Basically, her\nhusband said he likes petite women and all that. \"Sex life was great in the\nbeginning.\" She's been putting on weight now; she went from 100 to 150\npounds. He \"doesn't want to seem to touch me. He's always said that he\ndoesn't like a woman with a big booty, we're both Black, and most of the Black\nguys I know love a woman with a big rear end, not my husband.\nWe've only had sex with maybe twice in the past 3 or 4 months and he refuses\nto touch me. He's brutally honest. He tells me he's not attracted to bigger\nwoman and that I've gained weight. I wear body shapers and girdles hold\neverything in but he says that's nice when you're dressed, but when you take\nthat off, that's when the real me comes out. It's not attractive to see and I've\nput it on about 50% of my initial body weight since we first met.\"\nI mean, this is kind of a fucked up story, but I'm definitely going to copy and\npaste this into the horror stories. It's not exactly about an existing solution.\nI guess, you could put it as a failure but that's a pretty good horror story and\nthen I'm sure most of the replies would be like, \"He sucks,\" but yeah. Let's see\nwhat else I got here, I'm going to pause again.\nThis one's not a punch in the gut story, but it's this woman chronicling her\nstruggles of going anywhere from 200 pounds to above 400 pounds and now\nshe's got medication. She broke her leg and then she couldn't be active and\nall this kind of stuff so I would still put that here.\nAs far as the core stories, you can also just Google weight loss horror story or\nyou could do obesity horror story. I just Googled that and there's these horror\nstories about crash diets, weight loss, horror stories. My Alli Diet Pill Horror\nStory - When My Bowels Failed Me or Alli, whatever it is. There's just so many\nthings here we can look at and you can also do fat people horror stories. I\nmean, this is great. You have 30 Horror Stories About Dating While Plus-Size.\nWhat It's Really Like to be Fat In a World That Hates Fat People. All of this stuff\nhere, I would totally be taking that and plugging into the horror stories as well.\nSo basically, if you're thinking about that, but we didn't really go too deep on\ncuriosity or corruption and I think that's okay and we could. I would probably\nagain, like the Ancel Keys stuff, the change of the American diet, a lot of stuff\nthere. The whole idea of how Dr. Atkins almost had it right but didn't. You\ncould look at low fat/non-fat diet, why it didn't work. All that stuff could go\non the curiosity section and then from a corruption standpoint, I'd Google\nprobably places where obesity doesn't exist.\nOh yeah, there you go. Here's your corruption, How paradise became the fattest\nplace in the world. \"There are remote and beautiful. A place many long to\nescape to for sun, sea and serenity. But the Pacific islands have another reality\nfor the residents living there - a life based on imported food, little exercise\nand remote access to healthcare. The result? The most obese nations in the\nworld.\" Honestly, for now, I would just plug that into corruption. I'm just going\nto save that link right there. I mean, you just fill that out with that.\nYou could also do popular diets from the 1900s. Amazing. Okay, look at this. The\nMost Popular Diets of Every Decade Since 1900 Slideshow. Masticating, which\nis \"chewing your way to weight loss.\" Amazing. \" In the early 1900s, Horace\nFletcher, also known as the Great Masticator, advised that food, even liquids, be\nchewed 100 times per minute before being swallowed in order to build strength\nin the jaw, slow down the eating pace, improve digestion and turn the pitiable\nglutton into an intelligent epicurean. Fletcher's theories were accepted by the\nelites of the day such as Upton Sinclair, Mark Twain and John Rockefeller.\"\nThen the fact that counting calories started in the 1910s, amazing. So going\nback to this stuff, I'm just going to put a link here for this for now. This thing\nright here is literally going to give you everything. Cigarette is not great one.\n1930s: Grapefruit, Bananas and Skim Milk. Weight Watchers is from the 1960s.\nI mean, that's a great question: Weight Watchers started in the 1960s, why are\nmore women overweight today than they've ever been in the past? Diet Pills\nand the Sleeping Beauty Diet. This is great; this gives you all the answers. You\ncan answer curiosity.\nReally, it's as simple as Googling and just find interesting stuff. So that\nanswers stuff like corruption and curiosity. Obviously, you would dive deeper\nif you're doing this yourself. But going back through here, I guess as far as the\nprejudices go, it would be that like some people are born with good genetics\nwould be another one. I'm trying to think of what else. I'll come back to that.\nWe didn't go for religious, political, social, economic a whole ton. Honestly,\nI think that's because weight loss just spans such a huge gamut. Economic\nwould be willing to spend on solutions but tired of being burned. I don't\nthink political you're going to get anything. Religious, you're not going to get\nanything. Generally, family is important. It's one thing I noticed in a lot of this;\nfamily's important. Back in prejudices, I would probably put something about\ntheir mothers, their parents are the reason they had problems or why they still\ndo. I think that's important.\nWe're going to sum up their core beliefs about life, love and family in one\nto three sentences. I want to lose weight, but it's always a struggle, had\nsuccess in the past, but it never lasts. Family is incredibly important to me,\nbut sometimes I feel like my own family doesn't support me. I know that it will\nultimately that in order to lose weight, it comes down to me and my willpower,\nbut sticking to any diet program is just so hard.\nThe last thing here actually, the 5-star reviews, I meant to mention this stuff. I\ndon't think I did. Go into the 1-star reviews and then going back to what people\nhate about stuff, I'd be filling all of that out from here.\nSo hopefully, this makes sense. I'll give you a copy of this document. It felt\nhonestly a little long while I was doing this, but then I also feel there were\ntimes where I didn't want to stop. Really, I don't know what time I started at,\nbut probably around 11:30 maybe. It's probably been like an hour and a half,\nreally that I've been doing this and I mean, it's pretty complete. Realistically,\nif I was doing this on my own, I spend another hour on it so it's 2 and a half\nhours of research and I think by the time that 2 and a half hours was up, I\nwould had a lot of really, really, really good stuff.\nHopefully, you can understand why this is such a vital component here and\nhopefully, going through this changes the way you approach the beginning\nof your copy. So this is R for research. I may include a few more additional\nexamples either by me or somebody else in this program as well but again,\nthis should give you a pretty good feel for what is going on with research.\n"
            },
            {
              "name": "Avatar_Sheet_Template",
              "stringValue": "Avatar Sheet Template\n\n🔍 Demographic & General Information:\nAge Range: [Specify age range]\nGender: [Specify gender distribution]\nLocation: [Specify primary regions/countries]\nMonthly Revenue: [Specify typical revenue range]\nProfessional Backgrounds: [List typical professional backgrounds]\nTypical Identities: [Describe typical identities, lifestyles, or roles]\n🚩 Key Challenges & Pain Points:\nPain point 1:\n[ challenge 1]\n[ challenge 2]\n[ challenge 3]\nPain point 2:\n[ challenge 1]\n[ challenge 2]\n[ challenge 3]\nPain point 3:\n[ concern 1]\n[ concern 2]\n[ concern 3]\n🌟 Goals & Aspirations:\nShort-Term Goals:\n[Short-term goal 1]\n[Short-term goal 2]\n[Short-term goal 3]\nLong-Term Aspirations:\n[Long-term aspiration 1]\n[Long-term aspiration 2]\n[Long-term aspiration 3]\n🧠 Emotional Drivers & Psychological Insights:\n[Emotional driver/insight 1]\n[Emotional driver/insight 2]\n[Emotional driver/insight 3]\n💬 General Direct Client Quotes:\n\"[Client quote 1]\"\n\"[Client quote 2]\"\n\"[Client quote 3]\"\n🚩 Pain Points & Frustrations:\n\"[Pain/frustration quote 1]\"\n\"[Pain/frustration quote 2]\"\n\"[Pain/frustration quote 3]\"\n🎯 Mindset Quote:\n\"[ mindset quote 1]\"\n\"[ mindset quote 2]\"\n\"[ mindset quote 3]\"\n🗣 Quotes on Emotional State and Personal Drivers:\n\"[Emotional state/personal driver quote 1]\"\n\"[Emotional state/personal driver quote 2]\"\n\"[Emotional state/personal driver quote 3]\"\n📢 Quotes on Emotional Responses to Struggles:\n\"[Emotional Responses to struggle quote 1]\"\n\"[Emotional Responses to struggle quote 2]\"\n\"[Emotional Responses to struggle quote 3]\"\n🚀 Quotes on Motivation & Urgency Around Success:\n\"[Motivation/urgency quote 1]\"\n\"[Motivation/urgency quote 2]\"\n\"[Motivation/urgency quote 3]\"\n🚩 Key Emotional Fears & Deep Frustrations:\n[Fear/frustration 1]\n[Fear/frustration 2]\n[Fear/frustration 3]\n\n🧠 Emotional & Psychographic Insights:\n[Psychographic insight 1]\n[Psychographic insight 2]\n[Psychographic insight 3]\n📌 Typical Emotional Journey:\nAwareness: [Describe initial awareness stage]\nFrustration: [Describe frustration stage]\nDesperation & Seeking Solutions: [Describe seeking solutions stage]\nRelief & Commitment: [Describe relief and commitment stage]\n\n"
            },
            {
              "name": "Offer_Brief_Template",
              "stringValue": "Offer Brief Template File\nPotential Product Name Ideas:     Level of consciousness: Low/High     Level of Awareness:     Stage of Sophistication:       Big Idea    Metaphor    Potential UMP (unique mechanism of the problem)    Potential UMS (unique mechanism of the solution)    Guru:  Discovery Story    \nProduct:     Potential Headline/Subheadline Ideas    List all objections you can think of    Belief Chains (what does the prospect have to believe in order to buy)    Funnel Architecture     Potential domains    Examples/Swipes     Other notes"
            },
            {
              "name": "Transcript_template",
              "stringValue": "Please analyze this full video transcript and let me know your thoughts: there is a fundamental\ndifference in the copywriting approach that is taught and used at Agora that I fell in love with that\nreally became kind of the Genesis or the foundation of the E5 method and the copyrighting\nmethod that is most often taught in the internet marketing World there is a fundamental\ndifference and that fundamental difference really imp impedes the progress of most of the\ncopywriters or most of the people that try to learn copywriting from the IM approach you see the\nthe the the internet marketing approach and the way that copy has you know was was kind of\nalways taught was really based on the foundation of magnificent word choice right it was all\nabout the words that you used it was all about the phrases that you used right the incredible\nsteroid like traffic generation system that brings a tsunami of buyers right it was all about thewords it was the the the the this idea that right if I use these extremely exciting compelling right\nalmost hyperbolic words that that makes for good copy this is why that back in the day right\nback in the day right the almost every single copywriting training what did it it it it came with\nwhat what what did they include they almost always included like a power word list you know\nthese are power words astonishing let me see how often I can sprinkle in astonishing\nthroughout the the copy right like magnet you know all these like all these power words and so\nright everybody became trained on Words it's the words that's why like when when Kyle was\nshowing and I'm going to I'm going to get to the point in just a little bit bear with me when Kyle\nwas going through his um his swipes and examples right and I was paying attention to the room\nI could see people like agonizing over almost becoming overwhelmed with the copy let me look\nat the copy what did he say there what's the word there did he did he is there like a a power\nword being used in there right and and I said to you guys that it's not the the words that I want\nyou to to pay attention to it's not the words the exact word choice that I want you to model and\nswipe it's not the one phrase in the third sentence of the fourth paragraph that I want you to\nswipe it's the structure you see because I said that there's a fundamental difference in the copy\napproach that agore uses compared to the IM am world in the IM am world it's all about the\nmagnificence of the words that you use but in the Agora world it's all about the magnificence of\nthe argument it's all about the magnificence of the argument I wrote down to share with you\nright that ultimately and this is why I say this is a fundamental difference it's a fundamental\ndifference in the way that I think about crafting campaigns the way I write the words that I use\nthe structure of the sentences much of which I'm going to I'm going to just show you some some\nlittle things today right what I think about is it's about a compelling argument not compelling\nwords meaning I'm not trying to convince people that this is great because I use the word\nmagnificent amazing fantastic steroid like it's not it's not compelling because of solely the words\nthat I use right it's compelling first and foremost because I'm presenting an argument that you\ncan't dispute that logically emotionally right it's I'm showing it to you where like at the end you\nyou are led to one conclusion and only one conclusion and this is it's an important point for you\nto get because one of the things that I see often when I see critique today I I the only critiques\nthat I do are from top one members so when I used to do critiques from E5 clients and now\nwe've got phenomenal you know folks like Paul and Michael and the team to to do that right and\nso but when I when I used to go through critiques and even sometimes rarely but sometimes\nnow one of the biggest kind of mistakes or one of the biggest kind of issues that I see is right is\nthere is no structure there is no structure there is no argument being presented it's kind of it's all\nover the place it's kind of like they're saying a lot and saying nothing at the same time like right\nlike I'll read this and I'll where are you going where are you leading them like right ultimately I\nalways say I you heard me say this so many times but it it's it I can never say it enough that\nevery marketing campaign is about taking the prospect on a journey it's about leading them\nsomewhere where am I leading them I'm leading them to a belief that I need them to have\nbefore I introduce my offer a belief right that ultimately pre-cells them on the offer before I even\ntalk about it and so I know you've heard me say so many times right that that belief that\ndestination where I'm leading them where I'm leading them becomes my North Star everything\nthat I do and say and show and present is leading them one step at a time to that belief when\nyou don't have that structure when you think that it's merely the magnificence of your words and\nthat's it well you never know if you're on track or off track you never know if you're leading themdown the path and you never know if you've said enough or you haven't you can always say\nmore magnificent words see that's there there's a fundamental difference difference am I saying\nthat word choice isn't important of course not I'm not saying that I'm saying that word choice\npower words with no Foundation underneath is just a bunch of power words if you're not leading\nthem somewhere for me it's very simple and straightforward right I'm always it's it's always at\nthe end of the day in some shape or form right about I'm introducing them to a unique\nmechanism a new different and Superior way to get the result that they want there's always in\nsome form or fashion a unique mechanism right I want all roads lead to me I don't want to talk\nabout a commodity I in other words a solution that is Avail available anywhere else or\neverywhere else I want to talk about a proprietary solution something that they can only get from\nme I don't want to be pitching them educating them right on just a gen generic solution that they\ncould get anywhere because then I'm just an educator and I'm inspiring them to buy something\nthat they could buy elsewhere I'm always introducing a proprietary solution that solution is falls\nunder the heading of a unique mechanism and then everything that I'm doing and saying and\nshowing through education through informing is to show them what makes it different and most\nimportantly what makes it better I I'm just and I'm just trying to present that airtight Rock Solid\nemotional and logical argument in other words at the foundation I want to make sure that this is\na rock solid argument I love when John when John got up here and I'm going to talk about it in a\nin a second you know the syllogism and he was talking about argumentation I almost started\ncrying with joy inside right and I was almost tempted to put to talk about syllogisms in this\npresentation and I didn't and now I'm kicking myself cuz he did darn it but I but the the the point\nthat I'm really trying to make is like you know most most folks they're making their word choice\nthe priority the focus the AIM you know it's like stop writing copy and start crafting arguments\nstop writing copy stop with the copy stop it stop sitting down and putting on your your your your\ncopy cap and thinking like what's you know the astonishing okay what's the next word that's\ngoing to power word that I can use magnificent what's the next one steroid like amazing all this\nkind of craziness and start with putting together Rock Solid airtight logical and emotional\narguments prove to the freaking people that you've got something different and Superior you\nwant to go back later on through the editing process and layer in better verbs more powerful\nverbs cool right so I'm not saying that words don't matter I'm saying that words matter when\nlayered on a foundation of a rock solid argument a rock solid argument be argument creators\nnot copy creators not copywriters craft arguments first and Foremost"
            },
            {}
          ]
        },
        "options": {}
      },
      "id": "39fe5000-b4eb-4e38-9f90-93868577cdda",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        112,
        80
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=\n\nGreat work! I’m going to send you two documents that teach how to do deep research for your product in order to effectively write highly persuasive copy. Please analyze them and let me know your thoughts:\n\nDOC 1: Research Part 1 [ \n{{ $('Set Variables').item.json.Research_Context_1 }}\n]\n\nDOC 2: Research Part 2 [\n{{ $('Set Variables').item.json.Research_Context_2 }}\n]",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        544,
        80
      ],
      "id": "af2ca6df-c63e-4788-89b7-600aa9f32633",
      "name": "Message a model PROMPT 2 DOCUMENTS CONTEXT",
      "credentials": {
        "openAiApi": {
          "id": "rR9qA6e45qQM6hun",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "choices[0].message.content",
        "binaryPropertyName": "=resource",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ $now.format('yyyyMMdd')}}-{{ $now.format('HHmm') }}-Research Document.txt"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1424,
        80
      ],
      "id": "fbeb64a3-e99d-4000-bf94-a3cc4235e3c7",
      "name": "Convert to File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Great, now that you properly understand how to conduct research, I want you to create a full prompt for Open AI's new tool called deep research to actually conduct this research for the [{{ $('AI Agent - 1_first_prompt').item.json.output }}]. Please be as specific as possible here in order to get the best quality research. Please include that you want deep research to compile all of the research found into a doc as well, and it should be a minimum of 6 pages worth of research.",
              "role": "system"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        832,
        80
      ],
      "id": "440def08-3351-4392-ae91-60d4033985fe",
      "name": "Message a model PROMPT 3",
      "credentials": {
        "openAiApi": {
          "id": "rR9qA6e45qQM6hun",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.choices[0].message.content }}",
              "role": "system"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1120,
        80
      ],
      "id": "6fed145d-0020-4060-ab92-baf9a4796404",
      "name": "Message a model Generate Research Doc",
      "credentials": {
        "openAiApi": {
          "id": "rR9qA6e45qQM6hun",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 50,
        "queryString": "={{ $('Set Variables').item.json['Product Name'] }}",
        "returnAll": "={{ false }}",
        "filter": {
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1568,
        80
      ],
      "id": "e7df4cfe-a96f-47c0-922e-b8c20f190d31",
      "name": "Search For Folder",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vXG1sUVNpR7xQDld",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "09b62415-cb8f-478e-b6d3-aa463fe70c81",
              "leftValue": "={{ $('Search For Folder').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1808,
        80
      ],
      "id": "44825cba-1e16-4472-8ee3-4bfe23edcd16",
      "name": "Check If Folder Exists"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2128,
        48
      ],
      "id": "b164d491-4554-419b-b881-119bebcb795b",
      "name": "Merge Search Folder"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2128,
        208
      ],
      "id": "983c1e3c-bb26-468e-80a8-d3ae1dcd6c33",
      "name": "Merge Create Folder"
    },
    {
      "parameters": {
        "jsCode": "const lastNodeOutput = items[0].json;\n\nconst folderId = lastNodeOutput.parents[0];\n\nconst result = {\n  json: {\n    folderId: folderId,\n  },\n};\n\nreturn [result];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        128
      ],
      "id": "6b205b92-fc9b-4dff-8e1b-7fa5911a6dfa",
      "name": "Code"
    },
    {
      "parameters": {
        "inputDataFieldName": "resource",
        "name": "={{ $now.format('yyyyMMdd')}}-{{ $now.format('HHmm') }}-Research Document.txt",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/{{ $json.ID_FOLDER_MATCH }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2320,
        48
      ],
      "id": "276f6444-70e4-4b5f-bff8-6ad2c7e91291",
      "name": "Upload Search Folder Exist",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBEwUXDZNSxDZDN7",
          "name": "Google Drive account test "
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "resource",
        "name": "={{ $now.format('yyyyMMdd')}}-{{ $now.format('HHmm') }}-Research Document.txt",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/{{ $json.id }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2320,
        208
      ],
      "id": "53ea700d-50e7-4d1f-b7ef-0752a312fe6a",
      "name": "Upload Fole Create Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vXG1sUVNpR7xQDld",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "Generate Image",
        "height": 704,
        "width": 2688,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        720
      ],
      "id": "8fa92444-01ef-43f1-8491-66d3c404a668",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "Image_Product"
            },
            {
              "name": "n",
              "value": "3"
            },
            {
              "name": "size",
              "value": "1024x1024"
            },
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        736
      ],
      "id": "30a5ed97-6ca9-4f71-950d-22f00384b526",
      "name": "HTTP Request",
      "credentials": {
        "openAiApi": {
          "id": "rR9qA6e45qQM6hun",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        784,
        736
      ],
      "id": "c4076790-d5a1-42c9-8b37-ea75b546ca99",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        928,
        880
      ],
      "id": "d82cfb8e-b37d-43fe-b1f6-6fab9d5d0ab4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "name": "={{ $now.format('yyyyMMdd')}}-{{ $now.format('HHmm') }}-{{\n($('On form submission').item.json['Product Name'].includes('-v') ? \n    $('On form submission').item.json['Product Name'].split('-v')[0] + '-v' + (parseInt($('On form submission').item.json['Product Name'].split('-v')[1]) + 1) :\n    $('On form submission').item.json['Product Name'] + '-v1')\n}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/{{ $('Code').item.json.folderId }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1264,
        896
      ],
      "id": "ef212fed-2413-4cf9-9b0a-ee8b1e2a3beb",
      "name": "Upload file to N8N Generate Ads/ FOLDER STATIC ",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vXG1sUVNpR7xQDld",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1264,
        768
      ],
      "id": "9d7ae0a1-22ff-48c9-bf64-070019ae0c38",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "id": "a589c72a-7e5e-4cb9-a5ff-42734f51287b",
      "name": "Simple Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        240,
        1088
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        1088
      ],
      "id": "f63bc6fe-a599-4a9a-8f8f-424e52c84d5f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "rR9qA6e45qQM6hun",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        736
      ],
      "id": "0b1e196d-bc9b-4bad-ad17-905f79f727af",
      "name": "Merge1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "id": "b5779b5a-d1f9-4c94-8782-5dc9c7dc2146",
      "name": "Simple Memory2",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        544,
        1088
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        1088
      ],
      "id": "bb26d82d-3db9-48bb-b2dc-eb777837e56a",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "rR9qA6e45qQM6hun",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarizes the content to 600 length explicit\n\n{{ $json.output }}",
        "options": {
          "passthroughBinaryImages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        416,
        928
      ],
      "id": "d0f1d55f-13ca-4de6-bf2f-ec60efd91b1c",
      "name": "AI Agent - 1_first_prompt2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Find relevant data based on the provided system: Avatar Sheet, Offer Brief, research context or document, Necessary Beliefs and Summarizes the content EXPLICIT to 800 length.\n\nBased on the documents you've written (avatar, offer brief, necessary beliefs, ...), please write 3 prompts to generate square 1200x1200 images that we can use as ads. Please avoid text in the images. The images should grab the attention and help sell the product.",
        "options": {
          "systemMessage": "={{ $json.generateImagePayload }}",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        112,
        928
      ],
      "id": "16cfe347-3e95-494d-82e6-89da6335f9dd",
      "name": "AI Agent - 1_first_prompt1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1088,
        896
      ],
      "id": "6b773193-9c70-483e-8d16-5a9bc4a8ee40",
      "name": "Convert to File5"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos los datos de los nodos anteriores de forma segura.\nconst researchContent = $('Message a model Generate Research Doc').item.json.choices[0].message.content;\n//const avatarTemplate = $('Set Variables').item.json.Avatar_Sheet_Template;\n//const offerBriefTemplate = $(\"Set Variables\").item.json.Offer_Brief_Template\nconst necessaryBeliefs = $(\"Set Variables\").item.json.Transcript_template\n\nconst contextGeminiAvatar = $('Avatar Sheet Post Gemini').item.json.candidates[0].content.parts[0].text\nconst contextGeminiOfferBrief = $('Offer Brief Post Gemini').item.json.candidates[0].content.parts[0].text\nconst contextGeminiNecessaryBelief = $('Full Doc - Research Document - Avatar Sheet - Offer Brief').item.json.candidates[0].content.parts[0].text\n\n// 2. Construimos el objeto 'payload' programáticamente.\n//    Esta es la estructura exacta que la API de Gemini espera.\nconst payload = {\n  contents: [\n    {\n      parts: [\n        { text: \"Context: [\" },\n        // Convertimos el contenido complejo a un string JSON seguro aquí\n        { text: JSON.stringify(researchContent) },\n        { text: JSON.stringify(contextGeminiAvatar) },\n        { text: JSON.stringify(contextGeminiOfferBrief) },\n        { text: JSON.stringify(contextGeminiNecessaryBelief) },\n        { text: \"] Based on the documents you've written (avatar, offer brief, necessary beliefs, research Content), please write 3 prompts to generate square 1200x1200 images that we can use as ads. Please avoid text in the images. The images should grab the attention and help sell the product \"\n },\n        // La plantilla ya es un string, así que la pasamos directamente\n        //{ text: necessaryBeliefs }\n      ]\n    }\n  ]\n};\n\n// 3. Devolvemos el payload completo en un nuevo campo llamado 'geminiPayload'.\n// El siguiente nodo podrá acceder a él fácilmente.\nreturn {\n  json: {\n    generateImagePayload: payload\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        464
      ],
      "id": "ebbeb276-1ec5-4b30-81d5-5956233c8894",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -16,
        800
      ],
      "id": "b2aa34de-dbb4-478f-ad72-cf4bc1535c61",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1445efc-862c-4368-99fd-f0f030d2a863",
              "leftValue": "={{ $('Set Variables').item.json['Product Name'] }}",
              "rightValue": "={{ $('Search For Folder').item.json.name }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "30423c6a-b10e-46b9-aa88-98d95714a2a6",
              "leftValue": "={{ $('Search For Folder').item.json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1696,
        -144
      ],
      "id": "ef0268e6-1185-4812-9dcb-02389074543c",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc1016bd-02c6-47c8-aa36-b9b9f0d3063b",
              "name": "ID_FOLDER_MATCH",
              "value": "={{ $input.all()[0].json.id}}",
              "type": "string"
            },
            {
              "id": "64769050-df26-4cf6-ade6-a4a8248455bc",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        -144
      ],
      "id": "9ad60b0c-b891-48c9-9271-e4814dfb5527",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "fileContent",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ $now.format('yyyyMMdd')}}-{{ $now.format('HHmm') }}-propmts.txt"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        752,
        1248
      ],
      "id": "4ee9aaeb-15a5-4121-bd26-1318364e693e",
      "name": "Convert to File4"
    },
    {
      "parameters": {
        "name": "={{ $now.format('yyyyMMdd')}}-{{ $now.format('HHmm') }}-prompts.txt",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=https://drive.google.com/drive/folders/{{ $('Code').item.json.folderId }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        1248
      ],
      "id": "fcb55df5-c8a9-497c-b5b2-35ded14258e5",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yBEwUXDZNSxDZDN7",
          "name": "Google Drive account test "
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55771036-8d45-4b6f-a515-c48a26bcfd07",
              "name": "fileContent",
              "value": "={{ \"Dump PROMPTS.\\n\\nNode AI Image 1 - 800 Characters: Prompt Output Image\\n\" + $('AI Agent - 1_first_prompt1').item.json.output + \"\\n\\nNode AI Image 2 - 600 Characters: Prompt Output Image\\n\" + $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        1248
      ],
      "id": "229561ee-8509-4c91-98b9-5c689a51d3fe",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Avatar Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Offer Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avatar Sheet": {
      "main": [
        [
          {
            "node": "Parse Offer Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Avatar Sheet": {
      "main": [
        [
          {
            "node": "Avatar Sheet Post Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Offer Brief": {
      "main": [
        [
          {
            "node": "Offer Brief Post Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offer Brief": {
      "main": [
        [
          {
            "node": "Parse NECESSARY BELIEFS Prompt Translate Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "Necessary Beliefs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse NECESSARY BELIEFS Prompt Translate Context": {
      "main": [
        [
          {
            "node": "Necessary Beliefs Translate Prompt Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avatar Sheet Post Gemini": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offer Brief Post Gemini": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Necessary Beliefs Translate Prompt Gemini": {
      "main": [
        [
          {
            "node": "Parse NECESSARY BELIEFS Contexts All Avatar, Research, Offer Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse NECESSARY BELIEFS Contexts All Avatar, Research, Offer Brief": {
      "main": [
        [
          {
            "node": "Full Doc - Research Document - Avatar Sheet - Offer Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Doc - Research Document - Avatar Sheet - Offer Brief": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Necessary Beliefs": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - 1_first_prompt",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - 1_first_prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Merge Create Folder",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent - 1_first_prompt": {
      "main": [
        [
          {
            "node": "Message a model PROMPT 2 DOCUMENTS CONTEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "AI Agent - 1_first_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model PROMPT 2 DOCUMENTS CONTEXT": {
      "main": [
        [
          {
            "node": "Message a model PROMPT 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Search For Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Create Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Search Folder",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Message a model PROMPT 3": {
      "main": [
        [
          {
            "node": "Message a model Generate Research Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model Generate Research Doc": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search For Folder": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Folder Exists": {
      "main": [
        [
          {
            "node": "Merge Search Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Search Folder": {
      "main": [
        [
          {
            "node": "Upload Search Folder Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Create Folder": {
      "main": [
        [
          {
            "node": "Upload Fole Create Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Search Folder Exist": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Fole Create Folder": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Parse Avatar Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file to N8N Generate Ads/ FOLDER STATIC ": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - 1_first_prompt1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - 1_first_prompt1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - 1_first_prompt2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - 1_first_prompt2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - 1_first_prompt2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - 1_first_prompt1": {
      "main": [
        [
          {
            "node": "AI Agent - 1_first_prompt2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File5": {
      "main": [
        [
          {
            "node": "Upload file to N8N Generate Ads/ FOLDER STATIC ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent - 1_first_prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Check If Folder Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File4": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "49c91017-4612-4212-a2ef-e0e1ead52c43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "975a133a99e9e3d9b62351858b0a6616236bcd8ab7d18bb0ab6b5100093693a4"
  },
  "id": "yuMNGWncPdJM6fhr",
  "tags": [
    {
      "createdAt": "2025-07-16T02:57:41.154Z",
      "updatedAt": "2025-07-16T02:57:41.154Z",
      "id": "7WN9pQUuEWBW9U7h",
      "name": "GPT-4"
    },
    {
      "createdAt": "2025-07-16T03:03:04.982Z",
      "updatedAt": "2025-07-16T03:43:10.776Z",
      "id": "rybRYT8DajU34Lla",
      "name": "Data Monitoring"
    }
  ]
}